<div class="section-header">
    <h1 class="h3 section-text">Buttons</h1>
</div>
<div class="wrapper box-border-b-light">
    <div class="row">
        <div class="col-md-6">
            <h4>Buttons</h4>
            <div class="m-b-20">
                <button class="btn btn-default m-b-10">Default</button>
                <button class="btn btn-primary m-b-10">Primary</button>
                <button class="btn btn-success m-b-10">Success</button>
                <button class="btn btn-info m-b-10">Info</button>
                <button class="btn btn-warning m-b-10">Warning</button>
                <button class="btn btn-danger m-b-10">Danger</button>
            </div>
            <h4>Rounded</h4>
            <div class="m-b-20">
                <button class="btn btn-default btn-rounded m-b-10">Default</button>
                <button class="btn btn-primary btn-rounded  m-b-10">Primary</button>
                <button class="btn btn-success btn-rounded m-b-10">Success</button>
                <button class="btn btn-info btn-rounded m-b-10">Info</button>
                <button class="btn btn-warning btn-rounded m-b-10">Warning</button>
                <button class="btn btn-danger btn-rounded m-b-10">Danger</button>
            </div>
            <h4>Buttons disabled</h4>
            <div class="m-b-20">
                <button class="btn btn-default disabled m-b-10">Default</button>
                <button class="btn btn-primary disabled btn-rounded m-b-10">Primary</button>
                <button class="btn btn-success disabled m-b-10">Success</button>
                <button class="btn btn-info disabled btn-rounded m-b-10">Info</button>
                <button class="btn btn-warning disabled m-b-10">Warning</button>
                <button class="btn btn-danger disabled btn-rounded m-b-10">Danger</button>
            </div>
            <h4>Line</h4>
            <div class="m-b-20">
                <button class="btn btn-default btn-line m-b-10">Default</button>
                <button class="btn btn-primary btn-line m-b-10">Primary</button>
                <button class="btn btn-success btn-line m-b-10">Success</button>
                <button class="btn btn-info btn-line m-b-10">Info</button>
                <button class="btn btn-warning btn-line m-b-10">Warning</button>
                <button class="btn btn-danger btn-line m-b-10">Danger</button>
            </div>
            <h4>Line rounded</h4>
            <div class="m-b-20">
                <button class="btn btn-default btn-line btn-rounded  m-b-10">Default</button>
                <button class="btn btn-primary btn-line btn-rounded m-b-10">Primary</button>
                <button class="btn btn-success btn-line btn-rounded m-b-10">Success</button>
                <button class="btn btn-info btn-line btn-rounded m-b-10">Info</button>
                <button class="btn btn-warning btn-line btn-rounded m-b-10">Warning</button>
                <button class="btn btn-danger btn-line btn-rounded m-b-10">Danger</button>
            </div>
            <h4>Buttons line disabled</h4>
            <div class="m-b-20">
                <button class="btn btn-default disabled btn-line m-b-10">Default</button>
                <button class="btn btn-primary disabled btn-rounded btn-line m-b-10">Primary</button>
                <button class="btn btn-success disabled btn-line m-b-10">Success</button>
                <button class="btn btn-info disabled btn-rounded btn-line m-b-10">Info</button>
                <button class="btn btn-warning disabled btn-line m-b-10">Warning</button>
                <button class="btn btn-danger disabled btn-rounded btn-line m-b-10">Danger</button>
            </div>
            <h4>Button size</h4>
            <div class="m-b-20">
                <button class="btn btn-default btn-lg">Large</button>
                <button class="btn btn-default">Default</button>
                <button class="btn btn-default btn-sm">Small</button>
                <button class="btn btn-default btn-xs">Extra small</button>
            </div>
            <h4>Button dropdown & dropup</h4>
            <div class="m-b-10">
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Default <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Primary <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Info <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Warning <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>
            <div class="btn-toolbar m-b-30" role="toolbar">
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-default">Dropup</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-primary">Right dropup</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>
            <h4>Button block</h4>
            <div class="m-b-30">
                <a class="btn btn-default display-block btn-lg m-b-10">
                    Block button
                    <i class="fa fa fa-bars pull-right"></i>
                </a>
                <a class="btn btn-primary btn-line display-block m-b-10">
                    <i class="fa fa fa-bars pull-left"></i>
                    Block button
                    
                </a>
            </div>
            <h4>Button with icon</h4>
            <div class="m-b-20">
                <a class="btn btn-primary btn-line m-b-10">
                    <i class="fa fa-envelope-o"></i>
                    Button
                </a>
                <a class="btn btn-success btn-rounded m-b-10">
                    <i class="fa fa-file-text-o"></i>
                    Button
                </a>
                <a class="btn btn-danger btn-rounded btn-line m-b-10">
                    <i class="fa fa-tasks"></i>
                    Button
                </a>
                <a class="btn btn-primary btn-line btn-sm m-b-10">
                    <i class="fa fa-envelope-o"></i>
                    Button
                </a>
                <a class="btn btn-success btn-rounded btn-sm m-b-10">
                    <i class="fa fa-file-text-o"></i>
                    Button
                </a>
                <a class="btn btn-danger btn-rounded btn-line btn-sm m-b-10">
                    <i class="fa fa-tasks"></i>
                    Button
                </a>
            </div>
            <h4>Button social</h4>
            <div class="m-b-30">
                <a class="btn bg-facebook color-white btn-rounded btn-icon">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn bg-twitter color-white btn-rounded btn-icon">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="btn bg-googleplus color-white btn-rounded btn-icon">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a class="btn bg-dribbble color-white btn-rounded btn-icon">
                    <i class="fa fa-dribbble"></i>
                </a>
                <a class="btn bg-linkedin color-white btn-rounded btn-icon">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <h4>Button group</h4>
            <div class="m-b-20">
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-default">Left</button>
                    <button type="button" class="btn btn-default">Middle</button>
                    <button type="button" class="btn btn-default">Right</button>
                </div>

                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-primary btn-line">Left</button>
                    <button type="button" class="btn btn-primary btn-line">Middle</button>
                    <button type="button" class="btn btn-primary btn-line">Right</button>
                </div>
 
                <div class="btn-group m-b-10">
                    <button type="button" class="btn btn-primary btn-line btn-rounded">Left</button>
                    <button type="button" class="btn btn-primary btn-line btn-rounded">Middle</button>
                    <button type="button" class="btn btn-primary btn-line btn-rounded">Right</button>
                </div>
            </div>
            <h4>Button toolbar</h4>
            <div class="m-b-30">
                <div>
                    <div>
                        <div class="btn-toolbar m-b-10" role="toolbar" style="margin: 0;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default">2</button>
                                <button type="button" class="btn btn-default">3</button>
                                <button type="button" class="btn btn-default">4</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">5</button>
                                <button type="button" class="btn btn-default">6</button>
                                <button type="button" class="btn btn-default">7</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">8</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="btn-toolbar m-b-10" role="toolbar" style="margin: 0;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-line btn-rounded">1</button>
                                <button type="button" class="btn btn-primary btn-line btn-rounded">2</button>
                                <button type="button" class="btn btn-primary btn-line btn-rounded">3</button>
                                <button type="button" class="btn btn-primary btn-line btn-rounded">4</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-line btn-rounded">5</button>
                                <button type="button" class="btn btn-primary btn-line btn-rounded">6</button>
                                <button type="button" class="btn btn-primary btn-line btn-rounded">7</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-line btn-rounded">8</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="btn-toolbar m-b-10" role="toolbar" style="margin: 0;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm">1</button>
                                <button type="button" class="btn btn-default btn-sm">2</button>
                                <button type="button" class="btn btn-default btn-sm">3</button>
                                <button type="button" class="btn btn-default btn-sm">4</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm">5</button>
                                <button type="button" class="btn btn-default btn-sm">6</button>
                                <button type="button" class="btn btn-default btn-sm">7</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm">8</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4>Button nesting</h4>
            <div class="m-b-30">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">1</button>
                    <button type="button" class="btn btn-default">2</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-line btn-rounded">1</button>
                    <button type="button" class="btn btn-success btn-line btn-rounded">2</button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-line btn-rounded dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <h4>Button vertical</h4>
            <div class="m-b-30">
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-default">Button</button>
                    <button type="button" class="btn btn-default">Button</button>
                    <div class="btn-group">
                        <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default">Button</button>
                    <button type="button" class="btn btn-default">Button</button>
                    <div class="btn-group">
                        <button id="btnGroupVerticalDrop2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop2">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button id="btnGroupVerticalDrop3" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop3">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button id="btnGroupVerticalDrop4" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop4">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                </div>

                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-primary btn-line btn-sm">Button</button>
                    <button type="button" class="btn btn-primary btn-line btn-sm">Button</button>
                    <div class="btn-group">
                        <button id="btnGroupVerticalDrop1" type="button" class="btn btn-primary btn-line btn-sm dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary btn-line btn-sm">Button</button>
                    <button type="button" class="btn btn-primary btn-line btn-sm">Button</button>
                    <div class="btn-group">
                        <button id="btnGroupVerticalDrop2" type="button" class="btn btn-primary btn-line btn-sm dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop2">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button id="btnGroupVerticalDrop3" type="button" class="btn btn-primary btn-line btn-sm dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop3">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button id="btnGroupVerticalDrop4" type="button" class="btn btn-primary btn-line btn-sm dropdown-toggle" data-toggle="dropdown">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop4">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <h4>Button justified</h4>
            <div class="m-b-30">
                <div class="btn-group btn-group-justified m-b-20">
                    <a class="btn btn-default" role="button">Left</a>
                    <a class="btn btn-default" role="button">Middle</a>
                    <a class="btn btn-default" role="button">Right</a>
                </div>
                <div class="btn-group btn-group-justified m-b-20">
                    <a class="btn btn-primary btn-rounded" role="button">Left</a>
                    <a class="btn btn-success btn-rounded" role="button">Middle</a>
                    <a class="btn btn-warning btn-rounded" role="button">Right</a>
                </div>
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-primary btn-line btn-rounded" role="button">Left</a>
                    <a class="btn btn-primary btn-line btn-rounded" role="button">Middle</a>
                    <div class="btn-group">
                        <a class="btn btn-primary btn-line btn-rounded dropdown-toggle" data-toggle="dropdown">
                            Dropdown <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>