<div class="section-header">
    <h1 class="h3 section-text">Navs</h1>
</div>

<div class="wrapper">
    <div class="row">
        <div class="col-md-6">
            <uib-tabset vertical="true" type="pills">
                <uib-tab>
                    <uib-tab-heading>
                        <span class="pull-right label bg-info">NEW</span>
                        UI Kits
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Pages
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        <span class="pull-right m-r-xs">
                            <i class="fa fa-angle-down"></i>
                        </span>
                        Components
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        <span class="pull-right badge bg-success">8</span>
                        Mail
                    </uib-tab-heading>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="col-md-6">
            <uib-tabset type="pills" class="m-b-10">
                <uib-tab>
                    <uib-tab-heading>
                        UI Kit
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Pages
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Components <span class="badge bg-info">2</span>
                    </uib-tab-heading>
                </uib-tab>
            </uib-tabset>

            <uib-tabset type="pills" class="nav-rounded m-b-10">
                <uib-tab>
                    <uib-tab-heading>
                        Pages
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Pages
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Components <span class="badge bg-info">2</span>
                    </uib-tab-heading>
                </uib-tab>
            </uib-tabset>
            
            <uib-tabset type="pills" class="nav-sm m-b-10">
                <uib-tab>
                    <uib-tab-heading>
                        Pages
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Pages
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Components <span class="badge bg-info">2</span>
                    </uib-tab-heading>
                </uib-tab>
            </uib-tabset>
            
            <uib-tabset type="pills" class="nav-xs m-b-10">
                <uib-tab>
                    <uib-tab-heading>
                        Pages
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Pages
                    </uib-tab-heading>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Components <span class="badge bg-info">2</span>
                    </uib-tab-heading>
                </uib-tab>
            </uib-tabset>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="b-1px b-solid b-grey">
                <ul class="nav  main-nav themeGrey theme-color">
                    <li>
                        <a>
                            <i class="fa fa-dashboard"></i>
                            <div>
                                <span>Dashboard</span>
                            </div>
                        </a>
                    </li>
                    <li  class="active">
                        <a>
                            <i class="fa fa-star-o"></i>
                            <div>
                                <span>UI</span>
                            </div>
                        </a>
                    </li>
                    <li class="opened">  
                        <a>
                            <i class="fa fa-table"></i> 
                            <div>
                                <span>Components</span>
                                <i class="nav-arrow fa fa-angle-down "></i>
                            </div>
                        </a>
                        <ul class="nav  nav-children main-nav">
                            <li class="fold-header">
                                <a>
                                    <div>
                                        <span>Components</span> 
                                    </div>
                                </a>
                            </li>
                            <li> 
                                <a>
                                    <i class="fa fa-caret-right repl"></i> 
                                    <div>
                                        <span>Widgets</span>
                                    </div>
                                </a>
                            </li>
                            <li> 
                                <a>
                                    <i class="fa fa-caret-right repl"></i> 
                                    <div>
                                        <span>Modal</span>
                                    </div>
                                </a>
                            </li>
                            <li> 
                                <a>
                                    <i class="fa fa-caret-right repl"></i> 
                                    <div>
                                        <span>Aside</span>
                                    </div>
                                </a>
                            </li>


                            <li> 
                                <a>
                                    <i class="fa fa-caret-right repl"></i> 
                                    <div>
                                        <span>Alerts &amp; Notificitaions</span>
                                    </div>
                                </a>
                            </li>
                            <li> 
                                <a>
                                    <i class="fa fa-caret-right repl"></i> 
                                    <div>
                                        <span>Sliders</span>
                                    </div>
                                </a>
                            </li>

                            <li> 
                                <a>
                                    <i class="fa fa-caret-right repl"></i> 
                                    <div>
                                        <span>Carousel</span>
                                    </div>
                                </a>
                            </li>
                            <li> 
                                <a>
                                    <i class="fa fa-caret-right repl"></i> 
                                    <div>
                                        <span>Lists &amp; Wells</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




