<div class="section-header">
    <h1 class="h3 section-text">Panels</h1>
</div>
<div class="wrapper">
    <div class="row row-gap-5 row-panel-10">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    Panel Body
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    Panel Body
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b-info">
                <div class="panel-heading">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    Panel Body
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b-warning">
                <div class="panel-heading">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    Panel Body
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b-success">
                <div class="panel-heading">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    Panel Body
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b-danger">
                <div class="panel-heading">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    Panel Body
                </div>
            </div>
        </div>
    </div> 
    <div class="row row-gap-5 row-panel-10">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    Panel Body
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b-info">
                <div class="panel-heading b-info">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    Panel Body
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b-warning">
                <div class="panel-heading b-warning">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    Panel Body
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b-success">
                <div class="panel-heading b-success">
                    Success + scroll
                    <div data-app-panel></div>
                </div>
                <div class="panel-body" slimscroll="{height:'200px'}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b-danger">
                <div class="panel-heading b-danger">
                    Danger + scroll
                    <div data-app-panel></div>
                </div>
                <div class="panel-body" slimscroll="{height:'200px'}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Default + scroll
                    <div data-app-panel></div>
                </div>
                <div class="panel-body relative" slimscroll="{height:'200px'}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel bg-danger b-danger ">
                <div class="panel-heading b-white color-white">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body color-white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel bg-success b-success ">
                <div class="panel-heading b-white color-white">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body color-white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel bg-primary b-primary ">
                <div class="panel-heading b-white color-white">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel bg-info b-info">
                <div class="panel-heading b-white color-white">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body color-white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel bg-warning b-warning ">
                <div class="panel-heading b-white color-white">
                    Heading
                    <div data-app-panel></div>
                </div>
                <div class="panel-body color-white">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                </div>
            </div>
        </div>
    </div>
</div>