<div class="row layout-fixed no-m b-b-b-l">
    <div class="column col-250 bg-white b-b-r-l" data-ng-include src="'views/ecommerce/products_sidebar.html'"></div>
    <div class="column col-100p">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h1 class="h3 section-text">Products grid</h1>
                </div>
            </div>
        </div>
        <div class="p-20">
            <div class="row row-panel-20 row-gap-10">
                <!-- Start: Product item -->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body no-p">
                            <div class="item">
                                <img src="img/product1.jpg" class="img-full">
                                <div class="wrapper bottom left right">
                                    <div class="p-10 bg-overlayer-dark-lt">
                                        <h4 class="no-m color-white">HP BladeSystem</h4>
                                    </div>
                                </div>
                                <div class="wrapper top right bg-info">
                                    <div class="p-10">
                                        <h4 class="color-white font-bold no-m">15,050 $</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white box-border-b-light">
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white b-b-b-l">
                                <div class="col-md-12 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">DESCRIPTION</div>
                                        <div class="m-b-10 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-10 text-center">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Info</button>
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Edit</button>
                                    <button class="btn btn-sm btn-danger btn-line btn-rounded">Delete</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Product item -->
                
                <!-- Start: Product item -->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body no-p">
                            <div class="item">
                                <img src="img/product2.jpg" class="img-full">
                                <div class="wrapper bottom left right">
                                    <div class="p-10 bg-overlayer-dark-lt">
                                        <h4 class="no-m color-white">HP BladeSystem</h4>
                                    </div>
                                </div>
                                <div class="wrapper top right bg-info">
                                    <div class="p-10">
                                        <h4 class="color-white font-bold no-m">15,050 $</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white box-border-b-light">
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white b-b-b-l">
                                <div class="col-md-12 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">DESCRIPTION</div>
                                        <div class="m-b-10 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-10 text-center">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Info</button>
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Edit</button>
                                    <button class="btn btn-sm btn-danger btn-line btn-rounded">Delete</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Product item -->
                
                <!-- Start: Product item -->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body no-p">
                            <div class="item">
                                <img src="img/product3.jpg" class="img-full">
                                <div class="wrapper bottom left right">
                                    <div class="p-10 bg-overlayer-dark-lt">
                                        <h4 class="no-m color-white">HP BladeSystem</h4>
                                    </div>
                                </div>
                                <div class="wrapper top right bg-info">
                                    <div class="p-10">
                                        <h4 class="color-white font-bold no-m">15,050 $</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white box-border-b-light">
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white b-b-b-l">
                                <div class="col-md-12 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">DESCRIPTION</div>
                                        <div class="m-b-10 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-10 text-center">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Info</button>
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Edit</button>
                                    <button class="btn btn-sm btn-danger btn-line btn-rounded">Delete</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Product item -->
            </div>
            
            <div class="row row-panel-20 row-gap-10">
                <!-- Start: Product item -->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body no-p">
                            <div class="item">
                                <img src="img/product4.jpg" class="img-full">
                                <div class="wrapper bottom left right">
                                    <div class="p-10 bg-overlayer-dark-lt">
                                        <h4 class="no-m color-white">HP BladeSystem</h4>
                                    </div>
                                </div>
                                <div class="wrapper top right bg-info">
                                    <div class="p-10">
                                        <h4 class="color-white font-bold no-m">15,050 $</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white box-border-b-light">
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white b-b-b-l">
                                <div class="col-md-12 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">DESCRIPTION</div>
                                        <div class="m-b-10 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-10 text-center">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Info</button>
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Edit</button>
                                    <button class="btn btn-sm btn-danger btn-line btn-rounded">Delete</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Product item -->
                
                <!-- Start: Product item -->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body no-p">
                            <div class="item">
                                <img src="img/product5.jpg" class="img-full">
                                <div class="wrapper bottom left right">
                                    <div class="p-10 bg-overlayer-dark-lt">
                                        <h4 class="no-m color-white">HP BladeSystem</h4>
                                    </div>
                                </div>
                                <div class="wrapper top right bg-info">
                                    <div class="p-10">
                                        <h4 class="color-white font-bold no-m">15,050 $</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white box-border-b-light">
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white b-b-b-l">
                                <div class="col-md-12 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">DESCRIPTION</div>
                                        <div class="m-b-10 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-10 text-center">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Info</button>
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Edit</button>
                                    <button class="btn btn-sm btn-danger btn-line btn-rounded">Delete</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Product item -->
                
                <!-- Start: Product item -->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body no-p">
                            <div class="item">
                                <img src="img/product6.jpg" class="img-full">
                                <div class="wrapper bottom left right">
                                    <div class="p-10 bg-overlayer-dark-lt">
                                        <h4 class="no-m color-white">HP BladeSystem</h4>
                                    </div>
                                </div>
                                <div class="wrapper top right bg-info">
                                    <div class="p-10">
                                        <h4 class="color-white font-bold no-m">15,050 $</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white box-border-b-light">
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white b-b-b-l">
                                <div class="col-md-12 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">DESCRIPTION</div>
                                        <div class="m-b-10 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-10 text-center">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Info</button>
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Edit</button>
                                    <button class="btn btn-sm btn-danger btn-line btn-rounded">Delete</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Product item -->
            </div>
            
            <div class="row row-panel-20 row-gap-10">
                <!-- Start: Product item -->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body no-p">
                            <div class="item">
                                <img src="img/product3.jpg" class="img-full">
                                <div class="wrapper bottom left right">
                                    <div class="p-10 bg-overlayer-dark-lt">
                                        <h4 class="no-m color-white">HP BladeSystem</h4>
                                    </div>
                                </div>
                                <div class="wrapper top right bg-info">
                                    <div class="p-10">
                                        <h4 class="color-white font-bold no-m">15,050 $</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white box-border-b-light">
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white b-b-b-l">
                                <div class="col-md-12 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">DESCRIPTION</div>
                                        <div class="m-b-10 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-10 text-center">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Info</button>
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Edit</button>
                                    <button class="btn btn-sm btn-danger btn-line btn-rounded">Delete</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Product item -->
                
                <!-- Start: Product item -->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body no-p">
                            <div class="item">
                                <img src="img/product2.jpg" class="img-full">
                                <div class="wrapper bottom left right">
                                    <div class="p-10 bg-overlayer-dark-lt">
                                        <h4 class="no-m color-white">HP BladeSystem</h4>
                                    </div>
                                </div>
                                <div class="wrapper top right bg-info">
                                    <div class="p-10">
                                        <h4 class="color-white font-bold no-m">15,050 $</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white box-border-b-light">
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white b-b-b-l">
                                <div class="col-md-12 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">DESCRIPTION</div>
                                        <div class="m-b-10 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-10 text-center">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Info</button>
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Edit</button>
                                    <button class="btn btn-sm btn-danger btn-line btn-rounded">Delete</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Product item -->
                
                <!-- Start: Product item -->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body no-p">
                            <div class="item">
                                <img src="img/product1.jpg" class="img-full">
                                <div class="wrapper bottom left right">
                                    <div class="p-10 bg-overlayer-dark-lt">
                                        <h4 class="no-m color-white">HP BladeSystem</h4>
                                    </div>
                                </div>
                                <div class="wrapper top right bg-info">
                                    <div class="p-10">
                                        <h4 class="color-white font-bold no-m">15,050 $</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white box-border-b-light">
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-m bg-white b-b-b-l">
                                <div class="col-md-12 no-p">
                                    <div class="p-10">
                                        <div class="text-xs text-muted">DESCRIPTION</div>
                                        <div class="m-b-10 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-10 text-center">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Info</button>
                                    <button class="btn btn-sm btn-primary btn-line btn-rounded">Edit</button>
                                    <button class="btn btn-sm btn-danger btn-line btn-rounded">Delete</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End: Product item -->
            </div>
        </div>
    </div>
</div>