<div class="input-holder bg-white">
            <i class="fa fa-search fa-2x tosearch"></i>
            <input type="text" class="form-control no-border no-bg no-shadow" placeholder="Search..." data-ng-model="searchText" style="">
        </div>
        <div class="simple-list-header text-uppercase text-muted m-t-15">Categories</div>
        <ul class="list list-hover condensed list-no-border">
            <li >
                <div class="item-content">
                    <a>Laptops <span class="pull-right text-xs">223</span></a>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <a>Tablets <span class="pull-right text-xs">24</span></a>
                </div>
            </li>
            <li class="active">
                <div class="item-content">
                    <a>Servers <span class="pull-right text-xs">33</span></a>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <a>Network NAS  <span class="pull-right text-xs">9</span></a>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <a>Cool things <span class="pull-right text-xs">2121</span></a>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <a>Mobiles <span class="pull-right text-xs">55</span></a>
                </div>
            </li>
        </ul>
        <div class="simple-list-header text-uppercase text-muted m-t-15">INVENTORY</div>
        <div>
            <ul class="list condensed list-no-border">
                <li>
                    <div class="item-content">
                        <label class="app-radio">
                            <input type="radio" name="inventory[]"> <i></i> All 
                        </label>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <label class="app-radio">
                            <input type="radio" name="inventory[]" checked> <i></i> In stock 
                        </label>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <label class="app-radio">
                            <input type="radio" name="inventory[]"> <i></i> Sold out 
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="simple-list-header text-uppercase text-muted m-t-15">Amount range</div>
        <div>
            <ul class="list condensed list-no-border">
                <li>
                    <div class="item-content">
                        <label class="app-checkbox">
                            <input type="checkbox"> <i></i> $0 - $999 
                        </label>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <label class="app-checkbox">
                            <input type="checkbox" checked> <i></i> $1,000 - $1,999 
                        </label>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <label class="app-checkbox">
                            <input type="checkbox"> <i></i> $2,000 - $4,999
                        </label>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <label class="app-checkbox">
                            <input type="checkbox"> <i></i> $5,000 - $9,999
                        </label>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <label class="app-checkbox">
                            <input type="checkbox" checked> <i></i> $10,000 +
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="simple-list-header text-uppercase text-muted m-t-15">Color</div>
        <div>
            <ul class="list condensed list-no-border">
                <li>
                    <div class="item-content">
                        <label class="app-checkbox">
                            <input type="checkbox"> <i></i> Black 
                        </label>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <label class="app-checkbox">
                            <input type="checkbox"> <i></i> Grey 
                        </label>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <label class="app-checkbox">
                            <input type="checkbox" checked> <i></i> Green 
                        </label>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <label class="app-checkbox">
                            <input type="checkbox" checked> <i></i> Yellow 
                        </label>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <label class="app-checkbox">
                            <input type="checkbox"> <i></i> Brown 
                        </label>
                    </div>
                </li>
            </ul>
            <div class="simple-list-header text-uppercase text-muted m-t-15">Other</div>
            <div class="p-r-l-15 b-b-t-l b-b-b-l p-t-b-10">
                <select class="form-control">
                    <option>Nice</option>
                    <option>Cool</option>
                </select>
            </div>
            <div class="row m-t-b-15">
                <div class="col-sm-12">
                    <div class="m-r-l-15">
                        <button type="button" class="btn btn-primary btn-line btn-rounded p-r-l-30">Filter</button>
                        <button type="button" class="btn btn-default btn-line btn-rounded p-r-l-30">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="simple-list-header text-uppercase text-muted m-t-15 m-b-5">Latest invoices</div>
        <ul class="list-group list-group-gap list-group-sm m-r-l-15">
            <li class="list-group-item b-success">
                <div class="text-muted">Invoice #43344334</div>
                <div class="text-success">Paid</div>
            </li>
            <li class="list-group-item">
                Generated invoices <span class="badge">14</span>
                <div class="text-muted">Now</div>
            </li>
            <li class="list-group-item b-warning">
                <div class="text-muted">Invoice fail #2423</div>
                <div class="text-warning">Warning</div>
            </li>
            <li class="list-group-item">
                <div class="text-muted">Invoice #43344334</div>
                <div>Paid</div>
            </li>
            <li class="list-group-item b-danger">
                <div class="text-muted">Invoice fail #2423</div>
                <div class="text-danger">FAIL</div>
            </li>
            <li class="list-group-item">
                Generated invoices
                <div class="text-muted">Tuesday</div>
            </li>
            <li class="list-group-item">
                Generated invoices
                <div class="text-muted">Saturday</div>
            </li>
        </ul>