<div class="row">
    <div class="col-md-12">
        <div class="section-header">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3 section-text font-bold">Server BladeSystem</h1>
                </div>
                <div class="col-md-12">
                    <ol class="breadcrumb no-m no-bg no-p m-t-10 text-xs">
                        <li><a href="">Servers</a></li>
                        <li><a href="">NAS</a></li>
                        <li class="active">Server BladeSystem HZR-67755</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="row row-gap-10">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body no-p">
                    <tabset class="nav-line">
                        <tab heading="Pictures">
                            <div class="b-b-b-l p-t-b-10 item">
                                <a>
                                    <img src="img/product2.jpg" class="img-full">
                                </a>
                                <div class="item-wrapper top right p-10">
                                    <button class="btn btn-icon btn-danger btn-rounded btn-xs">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="text-center p-t-b-10 item">
                                <div class="inline-block item">
                                    <a>
                                        <img src="img/product3.jpg" class="thumb-lg">
                                    </a>
                                    <div class="item-wrapper top right">
                                        <button class="btn btn-icon btn-danger btn-rounded btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="inline-block item">
                                    <a>
                                        <img src="img/product4.jpg" class="thumb-lg">
                                    </a>
                                    <div class="item-wrapper top right">
                                        <button class="btn btn-icon btn-danger btn-rounded btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="inline-block item">
                                    <a>
                                        <img src="img/product5.jpg" class="thumb-lg">
                                    </a>
                                    <div class="item-wrapper top right">
                                        <button class="btn btn-icon btn-danger btn-rounded btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="p-15 text-center">
                                <button class="btn btn-primary btn-rounded btn-line btn-sm">Add new photo</button>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="bg-white b-b-b-l b-b-r-l b-b-l-l b-b-t-l">
                <tabset class="nav-line">
                    <tab heading="Info">
                        <div class="p-15">
                            <form role="form" class="">
                                <div>
                                    <div class="row row-gap-5">
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Name</label>
                                                <input type="text" class="form-control" placeholder="Nice Server ZX-5555">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Price</label>
                                                <input type="text" class="form-control" placeholder="16,055 $">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Category</label>
                                                <select class="form-control">
                                                    <option> - choose - </option>
                                                    <option>Category #1</option>
                                                    <option>Category #2</option>
                                                    <option>Category #3</option>
                                                </select>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Vendor</label>
                                                <select class="form-control">
                                                    <option> - choose - </option>
                                                    <option>Nice company</option>
                                                    <option>Awesome company</option>
                                                    <option>A company</option>
                                                </select>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-gap-5">
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Meta title</label>
                                                <input type="text" class="form-control" placeholder="...">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Meta Description</label>
                                                <input type="text" class="form-control" placeholder="...">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Description</label>
                                                <textarea  class="form-control" placeholder="lorem ipsum dolor" style="height:70px;"></textarea>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkbox p-r-l-10">
                                    <label class="app-checkbox">
                                        <input type="checkbox" checked> 
                                        <i></i>
                                        Active
                                    </label>
                                    <button type="button" class="btn btn-sm btn-primary btn-line btn-rounded pull-right">Save </button>
                                </div>
                            </form>
                        </div>

                    </tab>
                    <tab heading="Data">
                        <div class="p-15">
                            <form role="form" class="">
                                <div>
                                    <div class="row row-gap-5">
                                        <div class="col-sm-4 col-xs-6">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Remote ID</label>
                                                <input type="text" class="form-control" placeholder="...">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Local ID</label>
                                                <input type="text" class="form-control" placeholder="...">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Tax number</label>
                                                <input type="text" class="form-control" placeholder="AB-545454-CC">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-gap-5">
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Warranty</label>
                                                <ul class="simple-list no-m no-b-i no-bg">
                                                    <li class="no-m-l">
                                                        <label class="app-radio no-m">
                                                            <input type="radio" name="warranty[]"> 
                                                            <i></i>
                                                            No
                                                        </label>
                                                    </li>
                                                    <li class="no-m-l">
                                                        <label class="app-radio no-m">
                                                            <input type="radio" name="warranty[]"> 
                                                            <i></i>
                                                            1 year
                                                        </label>
                                                    </li>
                                                    <li class="no-m-l">
                                                        <label class="app-radio no-m">
                                                            <input type="radio" name="warranty[]"> 
                                                            <i></i>
                                                            2 year
                                                        </label>
                                                    </li>
                                                    <li class="no-m-l">
                                                        <label class="app-radio no-m">
                                                            <input type="radio" name="warranty[]"> 
                                                            <i></i>
                                                            3 year
                                                        </label>
                                                    </li>
                                                </ul>   
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Other</label>
                                                <ul class="simple-list no-m no-b-i no-bg">
                                                    <li class="no-m-l">
                                                        <label class="app-checkbox no-m">
                                                            <input type="checkbox"> 
                                                            <i></i>
                                                            Support
                                                        </label>
                                                    </li>
                                                    <li class="no-m-l">
                                                        <label class="app-checkbox no-m">
                                                            <input type="checkbox"> 
                                                            <i></i>
                                                            + 10 giga ram
                                                        </label>
                                                    </li>
                                                    <li class="no-m-l">
                                                        <label class="app-checkbox no-m">
                                                            <input type="checkbox"> 
                                                            <i></i>
                                                            Local setup
                                                        </label>
                                                    </li>
                                                    <li class="no-m-l">
                                                        <label class="app-checkbox no-m">
                                                            <input type="checkbox"> 
                                                            <i></i>
                                                            + web UI
                                                        </label>
                                                    </li>
                                                </ul>   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-gap-5">
                                        <div class="col-sm-4 col-xs-12">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Status</label>
                                                <select class="form-control">
                                                    <option> - choose - </option>
                                                    <option>In stock</option>
                                                    <option>Out of stock</option>
                                                    <option>Sold</option>
                                                </select>
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-xs-6">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Quantity</label>
                                                <input type="text" class="form-control" placeholder="0">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-6">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Min quantity</label>
                                                <input type="text" class="form-control" placeholder="0">
                                                <span></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-xs-12">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Max quantity</label>
                                                <input type="text" class="form-control" placeholder="0">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-alt m-b-10">
                                                <label>Comment</label>
                                                <textarea  class="form-control" placeholder="lorem ipsum dolor" style="height:70px;"></textarea>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox p-r-l-10">
                                        <label class="app-checkbox">
                                            <input type="checkbox"> 
                                            <i></i>
                                            Preview
                                        </label>
                                        <button type="button" class="btn btn-sm btn-primary btn-line btn-rounded pull-right">Save </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>