<div class="row">
    <div class="col-md-12">
        <div class="section-header">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3 section-text font-bold">Server BladeSystem</h1>
                </div>
                <div class="col-md-12">
                    <ol class="breadcrumb no-m no-bg no-p m-t-10 text-xs">
                        <li><a href="">Servers</a></li>
                        <li><a href="">NAS</a></li>
                        <li class="active">Server BladeSystem HZR-67755</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="row row-gap-10">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body no-p">
                    <div class="m-b-10 b-b-b-l item">
                        <a><img src="img/product2.jpg" class="img-full"></a>
                        <div class="wrapper top right bg-info">
                            <div class="p-10">
                                <h4 class="color-white font-bold no-m">15,050 $</h4>
                            </div>
                        </div>
                    </div>
                    <div class="text-center p-b-10 b-b-b-l">
                        <a><img src="img/product3.jpg" class="thumb-lg"></a>
                        <a><img src="img/product4.jpg" class="thumb-lg"></a>
                        <a><img src="img/product5.jpg" class="thumb-lg"></a>
                    </div>
                    <div class="row no-m bg-white box-border-b-light">
                        <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                            <div class="p-10">
                                <div class="text-xs text-muted">LIKES</div>
                                <div>5454</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                            <div class="p-10">
                                <div class="text-xs text-muted">REVIEWS</div>
                                <div>5</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 no-p">
                            <div class="p-10">
                                <div class="text-xs text-muted">TESTED</div>
                                <div>YES</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-m bg-white">
                        <div class="col-md-12 no-p">
                            <div class="p-10">
                                <div class="text-xs text-muted">REVIEWER COMMENT</div>
                                <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center m-b-20 p-r-l-15">
                <div class="row row-gap-5">
                    <div class="col-sm-4 m-b-5"><button class="btn btn-primary btn-sm btn-rounded btn-line btn-block"><i class="fa fa-cart-plus"></i> Add to cart</button></div>
                    <div class="col-sm-4 m-b-5"><button class="btn btn-default btn-sm btn-rounded btn-line btn-block"><i class="fa fa-star"></i> Add to wishlist </button></div>
                    <div class="col-sm-4"><button class="btn btn-default btn-sm btn-rounded btn-line btn-block"><i class="fa fa-envelope"></i> Contact with author </button></div> 
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body no-p">
                    <div class="row no-m bg-white box-border-b-light">
                        <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                            <div class="p-10">
                                <div class="text-xs text-muted">CATEGORY</div>
                                <div>Servers</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 no-p box-border-r-light">
                            <div class="p-10">
                                <div class="text-xs text-muted">STATUS</div>
                                <div>In stock</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 no-p">
                            <div class="p-10">
                                <div class="text-xs text-muted">SOLD</div>
                                <div>2112</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-m bg-white b-b-b-l">
                        <div class="col-md-12 no-p">
                            <div class="p-10">
                                <div class="text-xs text-muted">DESCRIPTION</div>
                                <div class="m-b-10 ">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                                </div>
                                <div class="m-b-10 ">
                                    Laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-m bg-white b-b-b-l">
                        <div class="col-md-12 no-p">
                            <div>
                                <table class="table table-responsive no-m">
                                    <thead>
                                        <tr>
                                            <th>
                                                Component type
                                            </th>
                                            <th>
                                                Recommended component
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Processor
                                            </td>
                                            <td><a href="#">Intel Core i5-6600k</a><br>
                                            </td>
                                            <td>
                                                $260 (£215)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Motherboard
                                            </td>
                                            <td><a href="#">Asus Z170 Pro Gaming</a><br>
                                            </td>
                                            <td>
                                                $162 (£110)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Memory
                                            </td>
                                            <td><a href="#">Crucial Ballistix Sport&nbsp;DDR4 2400 (8GB)</a><br></td>
                                            <td>
                                                $55</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Graphics card
                                            </td>
                                            <td><a href="#">MSI&nbsp;GTX 970 4G</a><br></td>
                                            <td>
                                                $335 (£270)</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Power supply
                                            </td>
                                            <td>
                                                <a href="#">Corsair CX600M 600 watt 80 Plus Bronze</a>
                                            </td>
                                            <td>
                                                $65 (£61)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Primary storage
                                            </td>
                                            <td>
                                                <a href="#">Samsung 850 EVO 250GB</a><br>
                                            </td>
                                            <td>
                                                $98 (£74)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Secondary storage
                                            </td>
                                            <td>
                                                <a href="#">Western Digital Black 2TB WD2003FZEX</a><br>
                                            </td>
                                            <td>
                                                $125 (£96)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                CPU cooler
                                            </td>
                                            <td>
                                                <a href="#">Cooler Master Hyper 212 EVO</a><br>
                                            </td>
                                            <td>
                                                $35 (£25)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Disc drive
                                            </td>
                                            <td>
                                                <a href="#">Asus 24x DVD-RW</a><br>
                                            </td>
                                            <td>
                                                $21 (£14)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Cases
                                            </td>
                                            <td><a href="#">NZXT S340</a> (see below for more)
                                            </td>
                                            <td>
                                                $70&nbsp;(£57)</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td>
                                                <strong>$1226</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="pull-right">
                    <a class="btn btn-default btn-rounded btn-icon">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn  btn-default btn-rounded btn-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn  btn-default btn-rounded btn-icon">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>