<div class="row layout-fixed no-m b-b-b-l">
    <div class="column col-250 bg-white b-b-r-l" data-ng-include src="'views/ecommerce/products_sidebar.html'"></div>
    <div class="column col-100p">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h1 class="h3 section-text">Products list</h1>
                </div>
            </div>
        </div>
        <div class="row r-sm-table text-muted hidden-sm hidden-xs">
            <div class="col-sm-3 c-sm-cell">
                <div class="p-5">Pic</div>
            </div>
            <div class="col-sm-5 c-sm-cell">
                <div class="p-5">Data</div>
            </div>
            <div class="col-sm-2 c-sm-cell text-center">
                <div class="p-5">Price</div>
            </div>
            <div class="col-sm-2 c-sm-cell text-center">
                <div class="p-5">Other</div>
            </div>
        </div>
        <ul class="list list-hover condensed">
            <!-- Start: Product item -->
            <li>
                <div class="item-content no-p-t-b">
                    <div class="row r-sm-table">
                        <div class="col-md-3 c-sm-cell">
                            <div class="m-t-b-15">
                                <img src="img/product1.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-5 c-sm-cell">
                            <div class="m-t-b-15">
                                <h4 class="no-m m-b-10">HP BladeSystem</h4>
                                <p class="no-m m-b-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                                </p>
                                <div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                    <div class="inline-block">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 c-sm-cell text-center">
                            <h3 class="font-bold no-m m-t-b-15">15,050 $</h3>
                        </div>
                        <div class="col-md-2 c-sm-cell">
                            <div class="m-t-b-15 text-center">
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-info"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-danger btn-line btn-icon">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- End: Product item -->
            <!-- Start: Product item -->
            <li>
                <div class="item-content no-p-t-b">
                    <div class="row r-sm-table">
                        <div class="col-md-3 c-sm-cell">
                            <div class="m-t-b-15">
                                <img src="img/product2.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-5 c-sm-cell">
                            <div class="m-t-b-15">
                                <h4 class="no-m m-b-10">HP BladeSystem</h4>
                                <p class="no-m m-b-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                                </p>
                                <div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                    <div class="inline-block">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 c-sm-cell text-center">
                            <h3 class="font-bold no-m m-t-b-15">15,050 $</h3>
                        </div>
                        <div class="col-md-2 c-sm-cell">
                            <div class="m-t-b-15 text-center">
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-info"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-danger btn-line btn-icon">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- End: Product item -->
            <!-- Start: Product item -->
            <li>
                <div class="item-content no-p-t-b">
                    <div class="row r-sm-table">
                        <div class="col-md-3 c-sm-cell">
                            <div class="m-t-b-15">
                                <img src="img/product3.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-5 c-sm-cell">
                            <div class="m-t-b-15">
                                <h4 class="no-m m-b-10">HP BladeSystem</h4>
                                <p class="no-m m-b-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                                </p>
                                <div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                    <div class="inline-block">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 c-sm-cell text-center">
                            <h3 class="font-bold no-m m-t-b-15">15,050 $</h3>
                        </div>
                        <div class="col-md-2 c-sm-cell">
                            <div class="m-t-b-15 text-center">
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-info"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-danger btn-line btn-icon">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- End: Product item -->
            <!-- Start: Product item -->
            <li>
                <div class="item-content no-p-t-b">
                    <div class="row r-sm-table">
                        <div class="col-md-3 c-sm-cell">
                            <div class="m-t-b-15">
                                <img src="img/product4.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-5 c-sm-cell">
                            <div class="m-t-b-15">
                                <h4 class="no-m m-b-10">HP BladeSystem</h4>
                                <p class="no-m m-b-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                                </p>
                                <div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                    <div class="inline-block">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 c-sm-cell text-center">
                            <h3 class="font-bold no-m m-t-b-15">15,050 $</h3>
                        </div>
                        <div class="col-md-2 c-sm-cell">
                            <div class="m-t-b-15 text-center">
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-info"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-danger btn-line btn-icon">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- End: Product item -->
            <!-- Start: Product item -->
            <li>
                <div class="item-content no-p-t-b">
                    <div class="row r-sm-table">
                        <div class="col-md-3 c-sm-cell">
                            <div class="m-t-b-15">
                                <img src="img/product5.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-5 c-sm-cell">
                            <div class="m-t-b-15">
                                <h4 class="no-m m-b-10">HP BladeSystem</h4>
                                <p class="no-m m-b-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                                </p>
                                <div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                    <div class="inline-block">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 c-sm-cell text-center">
                            <h3 class="font-bold no-m m-t-b-15">15,050 $</h3>
                        </div>
                        <div class="col-md-2 c-sm-cell">
                            <div class="m-t-b-15 text-center">
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-info"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-danger btn-line btn-icon">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- End: Product item -->
            <!-- Start: Product item -->
            <li>
                <div class="item-content no-p-t-b">
                    <div class="row r-sm-table">
                        <div class="col-md-3 c-sm-cell">
                            <div class="m-t-b-15">
                                <img src="img/product6.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-5 c-sm-cell">
                            <div class="m-t-b-15">
                                <h4 class="no-m m-b-10">HP BladeSystem</h4>
                                <p class="no-m m-b-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                                </p>
                                <div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                    <div class="inline-block">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 c-sm-cell text-center">
                            <h3 class="font-bold no-m m-t-b-15">15,050 $</h3>
                        </div>
                        <div class="col-md-2 c-sm-cell">
                            <div class="m-t-b-15 text-center">
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-info"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-danger btn-line btn-icon">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- End: Product item -->
            <!-- Start: Product item -->
            <li>
                <div class="item-content no-p-t-b">
                    <div class="row r-sm-table">
                        <div class="col-md-3 c-sm-cell">
                            <div class="m-t-b-15">
                                <img src="img/product2.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-5 c-sm-cell">
                            <div class="m-t-b-15">
                                <h4 class="no-m m-b-10">HP BladeSystem</h4>
                                <p class="no-m m-b-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                                </p>
                                <div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                    <div class="inline-block">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 c-sm-cell text-center">
                            <h3 class="font-bold no-m m-t-b-15">15,050 $</h3>
                        </div>
                        <div class="col-md-2 c-sm-cell">
                            <div class="m-t-b-15 text-center">
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-info"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-danger btn-line btn-icon">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- End: Product item -->
            <!-- Start: Product item -->
            <li>
                <div class="item-content no-p-t-b">
                    <div class="row r-sm-table">
                        <div class="col-md-3 c-sm-cell">
                            <div class="m-t-b-15">
                                <img src="img/product3.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-5 c-sm-cell">
                            <div class="m-t-b-15">
                                <h4 class="no-m m-b-10">HP BladeSystem</h4>
                                <p class="no-m m-b-10">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...
                                </p>
                                <div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">CATEGORY</div>
                                        <div>Servers</div>
                                    </div>
                                    <div class="inline-block m-r-15">
                                        <div class="text-xs text-muted">STATUS</div>
                                        <div>In stock</div>
                                    </div>
                                    <div class="inline-block">
                                        <div class="text-xs text-muted">SOLD</div>
                                        <div>2112</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 c-sm-cell text-center">
                            <h3 class="font-bold no-m m-t-b-15">15,050 $</h3>
                        </div>
                        <div class="col-md-2 c-sm-cell">
                            <div class="m-t-b-15 text-center">
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-info"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-primary btn-line btn-icon">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-sm btn-rounded btn-danger btn-line btn-icon">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- End: Product item -->
        </ul>
    </div>
</div>