<div class="section-header">
    <h1 class="h3 section-text">Aside demo</h1>
</div>
<div class="wrapper" data-ng-controller="OtherCtrl">
    <div class="m-b-10">
        <div class="inline-block">
            <div class="text-center">
                Backdrop
            </div>
            <div class="btn-group">
                <label class="btn btn-default btn-rounded" data-ng-model="backdrop" btn-radio="true" uncheckable>On</label>
                <label class="btn btn-default btn-rounded" data-ng-model="backdrop" btn-radio="false" uncheckable>Off</label>
            </div>
        </div>
        <div class="inline-block">
            <div class="text-center">
                Size
            </div>

            <div class="btn-group">
                <label class="btn btn-default btn-rounded" data-ng-model="size" btn-radio="'lg'" uncheckable>Big</label>
                <label class="btn btn-default btn-rounded" data-ng-model="size" btn-radio="'sm'" uncheckable>Smaller</label>
            </div>
        </div>
    </div>
    
    <span class="pull-left">
        <button type="button" class="btn btn-default btn-rounded" data-ng-click="openAside('left',backdrop,size)">
            <span class="glyphicon glyphicon-align-justify"></span>
            Left
        </button>
        <button type="button" class="btn btn-default btn-rounded" data-ng-click="openAside('top',backdrop,size)">
            Up             <span class="glyphicon glyphicon-arrow-down"></span>
        </button>
    </span>
    <span class="pull-right">
        <button type="button" class="btn btn-default btn-rounded" data-ng-click="openAside('bottom',backdrop,size)">
            Down             <span class="glyphicon glyphicon-arrow-up"></span>
        </button>
        <button type="button" class="btn btn-default btn-rounded" data-ng-click="openAside('right',backdrop,size)">
            Right             <span class="glyphicon glyphicon-align-justify"></span>
        </button>
    </span>
</div>
