<div class="section-header">
    <h1 class="h3 section-text">List & Wells</h1>
</div>
<div class="wrapper">
    <div class="row">

        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">Basic</div>
            <div class="b-1px b-solid b-lt b-rad-3">
                <ul class="simple-list no-m no-b-i">
                    <li >

                        Bug is in the SQL update file.
                    </li>
                    <li>

                        'Clients' database fix
                    </li>
                    <li>

                        Write a documentation
                    </li>
                    <li>

                        Fix the Server #13 CPU problem
                    </li>
                    <li>

                        Write Hank for information
                    </li>
                    <li>

                        Fix the UI dashboard
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">Advanced</div>
            <div class="b-1px b-solid b-lt b-rad-3 list-sm">
                <ul class="simple-list no-m no-b-i">
                    <li class="active">
                        <a href="#"><span class="label label-danger">critical</span>
                            Bug is in the SQL update file.</a>
                    </li>
                    <li class="active">
                        <a href="#"><span class="label label-danger">critical</span>
                            'Clients' database fix</a>
                    </li>
                    <li class="active">
                        <a href="#"><span class="label label-danger">high</span>
                            Write a documentation</a>
                    </li>
                    <li>
                        <a href="#"><span class="label label-info">normal</span>
                            Fix the Server #13 CPU problem</a>
                    </li>
                    <li>
                        <a href="#"><span class="label label-default">low</span>
                            Write Hank for information</a>
                    </li>
                    <li>
                        <a href="#"><span class="label label-default">low</span>
                            Fix the UI dashboard</a>
                    </li>
                    <li>
                        <a href="#"><span class="label label-default">low</span>
                            Repair the database indexes</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">With image</div>
            <div class="b-1px b-solid b-lt b-rad-3 list-sm">
                <ul class="simple-list scrollable with-image no-m no-b-i text-xs">
                    <li class="active">
                        <a href="#">
                            <img src="img/avatar1.jpg" class="img-circle thumb-xxs">
                            <div>
                                <p class="no-m">
                                    <strong>Jesse Holmes</strong> <span class="pull-right time">Now</span>
                                </p>
                                <p class="no-m"> Lorem ipsum dolor sit amet</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#/page/mail">
                            <img src="img/avatar2.jpg" class="img-circle thumb-xxs">
                            <div>
                                <p class="no-m">
                                    <strong>Greg Abraham</strong><span class="time">20 mins</span>
                                </p>
                                <p class="no-m"> Please send me an email about the task</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/avatar3.jpg" class="img-circle thumb-xxs">
                            <div>
                                <p class="no-m">
                                    <strong>Rick Nevada</strong><span class="time">1 hour</span>
                                </p>
                                <p class="no-m">Ok, the problem is solved. Thank You!</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/avatar4.jpg" class="img-circle thumb-xxs">
                            <div>
                                <p class="no-m">
                                    <strong>Dexter Minas</strong><span class="time">12 hour</span>
                                </p>
                                <p class="no-m">Hello, nice to see you yesterday.</p>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">List</div>
            <div class="b-1px b-solid b-lt b-rad-3">
                <ul class="list list-hover no-b-i">
                    <li>
                        <div class="item-content">
                            <div><strong>AngularJS</strong></div>
                            <div class="text-muted text-md">
                                Jesse Holmes
                                <span class="pull-right text-xs">Today</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div><strong>BackboneJS</strong></div>
                            <div class="text-muted text-md">
                                Greg Abraham
                                <span class="pull-right text-xs">Yesterday</span>
                            </div>
                        </div>
                    </li>
                    <li class="inactive">
                        <div class="item-content">
                            <div><strong>EmberJS</strong></div>
                            <div class="text-muted text-md">
                                Walter White
                                <span class="pull-right text-xs">Tuesday</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div><strong>KnockoutJS</strong></div>
                            <div class="text-muted text-md">
                                Walter White
                                <span class="pull-right text-xs">Tuesday</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">List selected</div>
            <div class="b-1px b-solid b-lt b-rad-3">
                <ul class="list list-hover no-b-i">
                    <li >
                        <div class="item-content">
                            <div><strong>AngularJS</strong></div>
                            <div class="text-muted text-md">
                                Jesse Holmes
                                <span class="pull-right text-xs">Today</span>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <div class="item-content">
                            <div><strong>BackboneJS</strong></div>
                            <div class="text-muted text-md">
                                Greg Abraham
                                <span class="pull-right text-xs">Yesterday</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div><strong>EmberJS</strong></div>
                            <div class="text-muted text-md">
                                Walter White
                                <span class="pull-right text-xs">Tuesday</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div><strong>KnockoutJS</strong></div>
                            <div class="text-muted text-md">
                                Walter White
                                <span class="pull-right text-xs">Tuesday</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">List border</div>
            <div class="b-1px b-solid b-lt b-rad-3">
                <ul class="list list-hover no-b-i">
                    <li class="status-danger">
                        <div class="item-content">
                            <div><strong>AngularJS</strong></div>
                            <div class="text-muted text-md">
                                Jesse Holmes
                                <span class="pull-right text-xs">Today</span>
                            </div>
                        </div>
                    </li>
                    <li class="status-default">
                        <div class="item-content">
                            <div><strong>BackboneJS</strong></div>
                            <div class="text-muted text-md">
                                Greg Abraham
                                <span class="pull-right text-xs">Yesterday</span>
                            </div>
                        </div>
                    </li>
                    <li class="status-primary active">
                        <div class="item-content">
                            <div><strong>EmberJS</strong></div>
                            <div class="text-muted text-md">
                                Walter White
                                <span class="pull-right text-xs">Tuesday</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div><strong>KnockoutJS</strong></div>
                            <div class="text-muted text-md">
                                Walter White
                                <span class="pull-right text-xs">Tuesday</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">Bootstrap list</div>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in <span class="badge">14</span></li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">Bootstrap list selected & disabled</div>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item disabled">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item ">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">Bootstrap list custom</div>
            <div class="list-group">
                <a href="#" class="list-group-item ">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">Bootstrap list with gap</div>
            <ul class="list-group list-group-gap">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in <span class="badge">14</span></li>
                <li class="list-group-item active">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">Bootstrap list with gap & border</div>
            <ul class="list-group list-group-gap">
                <li class="list-group-item b-success">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in <span class="badge">14</span></li>
                <li class="list-group-item b-warning">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item b-danger">Vestibulum at eros</li>
            </ul>
        </div>
        
        <div class="col-md-4 m-b-15">
            <div class="m-b-3 m-l-10">Bootstrap list with small gap</div>
            <ul class="list-group list-group-gap list-group-sm">
                <li class="list-group-item ">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in <span class="badge">14</span></li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item b-success">Porta ac consectetur ac</li>
            </ul>
        </div>

        <div class="col-md-6">

            <div class="media">
                <a class="media-left pull-left" href="#">
                    <img data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEyLjU0Njg3NSIgeT0iMzIiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj42NHg2NDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            <div class="media">
                <a class="media-left pull-left" href="#">
                    <img data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEyLjU0Njg3NSIgeT0iMzIiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj42NHg2NDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <div class="media">
                        <a class="media-left pull-left" href="#">
                            <img data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEyLjU0Njg3NSIgeT0iMzIiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj42NHg2NDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true" style="width: 64px; height: 64px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">Nested media heading</h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
            </div>
            <div class="media">
                <a class="pull-right" href="#">
                    <img data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEyLjU0Njg3NSIgeT0iMzIiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj42NHg2NDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
                <a class="pull-left" href="#">
                    <img data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEyLjU0Njg3NSIgeT0iMzIiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj42NHg2NDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Deprecated pull-right pull-left example</h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </div>
            </div>

        </div>
    </div>

</div>
