<div class="section-header">
    <h1 class="h3 section-text">Portlet</h1>
</div>
<div class="wrapper">
    <div class="row">
        <div class="col-md-6 connected" ui-sortable="{handle:'.panel-heading',items:'.panel',connectWith:'.connected'}">
            <div class="panel b-success panel-draggable">
                <div class="panel-heading">
                    News
                    <div data-app-panel></div>
                </div>
                <div class="panel-body no-m no-p p-30-i">
                    <div class="p-b-20">
                        WORLD NEWS
                    </div>
                    <div class="h3 no-m m-b-50">
                        Happiness is not something ready made. It comes from your own actions.
                    </div>
                    <div class="progress progress-xs no-m m-b-30">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                    <div class="m-r-l-30 text-center">
                        <button type="button" class="btn btn-line btn-rounded btn-success">READ MORE</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-default panel-draggable">
                <div class="panel-heading">
                    Quote
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    <blockquote class="no-m">
                        <i class="fa fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <small class="text-muted">Someone famous in <cite title="Source Title">Source Title</cite></small>
                    </blockquote>
                </div>
            </div>

            <div class="panel panel-default b-primary panel-draggable">
                <div class="panel-heading">
                    Graphs
                    <div data-app-panel></div>
                </div>
                <div class="panel-body no-p-i">
                    <div class="no-b-i p-30-i ">
                        <b class="h4 no-m">Graphs</b> <i class="fa fa-gear pull-right"></i>
                    </div>
                    <div class="p-30 no-p no-p-t">
                        <div class="h1 no-m m-b-5">35,567</div>
                        <div class="">Graphs created</div>
                        <div class="m-b-8">from the 17th Apr to now</div>
                    </div>
                    <div class=" p-30-i box-border-t-light">
                        <div class="">Median: 186 graphs per day</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 connected" ui-sortable="{items:'.panel', connectWith:'.connected'}">
            <div class="panel panel-default panel-draggable">
                <div class="panel-heading">
                    Lists
                    <div data-app-panel></div>
                </div>
                <div class="panel-body">
                    <ul class="list-group list-group-gap no-m">
                        <li class="list-group-item b-success">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in <span class="badge">14</span></li>
                        <li class="list-group-item b-warning">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-danger panel-draggable">
                <div class="panel-heading no-b-i no-bg text-center p-30-i">
                    <i class="fa fa-lightbulb-o text-muted fa-3x"></i>
                    <div data-app-panel></div>
                </div>
                <div class="panel-body p-20 no-p-t text-center">
                    <div class=" ">
                        "Your time is limited, so don't waste it living someone else's life."#qoute
                    </div>
                    <div class="text-center text-xs text-italic">
                        <span class=""></span>- Steve Travis
                    </div>
                    <div class="clearfix m-t-10">
                        <button class="btn btn-icon btn-default btn-xs btn-rounded pull-right btn-line color-white b-white"><i class="fa fa-star-o"></i></button>
                        <button class="btn btn-icon btn-default btn-xs btn-rounded pull-right btn-line color-white b-white m-r-5"><i class="fa fa-heart-o"></i></button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel-draggable">
                <div class="panel-heading">
                    Profile
                    <div data-app-panel></div>
                </div>
                <div class="panel-body p-30-i text-center">
                    <div>
                        <img src="img/big_avatar2.jpg" class="img-circle">
                    </div>
                    <div class="h3 no-m m-t-20">Jessica Johns</div>
                    <div class="text-muted m-b-10">Designer</div>
                    <div class="row no-m color-white">
                        <div class="col-xs-4 no-pt bg-primary lt">
                            <div class="p-10">
                                HTML5
                            </div>
                        </div>
                        <div class="col-xs-4 no-p bg-primary ">
                            <div class="p-10">
                                CSS3
                            </div>
                        </div>
                        <div class="col-xs-4 no-p bg-primary dk">
                            <div class="p-10">
                                JS
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>