<div class="section-header">
    <h1 class="h3 section-text">Tree</h1>
</div>
<div class="row " data-ng-controller="AbnTestController" data-app-layout-application>
    <div class="col-md-3 column">
        <div class="p-10">
            <button data-ng-click="try_changing_the_tree_data()" class="btn btn-default btn-block m-b-10">Change The Tree Definition</button>
            <button data-ng-click="try_async_load()" class="btn btn-default btn-block m-b-10">Load Tree Data Asynchronously</button>

            <div class="line b-b line-lg"></div>
            
            <div class="m-b-10">
                <button data-ng-click="my_tree.select_first_branch()" class="btn btn-default btn-sm">First Branch</button>
            </div>

            <div class="m-b-10">
                <button data-ng-click="my_tree.select_next_sibling()" class="btn btn-default btn-sm">Next Sibling</button>

                <button data-ng-click="my_tree.select_prev_sibling()" class="btn btn-default btn-sm">Prev Sibling</button>
            </div>

            <div class="m-b-10">
                <button data-ng-click="my_tree.select_next_branch()" class="btn btn-default btn-sm">Next Branch</button>

                <button data-ng-click="my_tree.select_prev_branch()" class="btn btn-default btn-sm">Prev Branch</button>
            </div>

            <div class="m-b-10">
                <button data-ng-click="my_tree.select_parent_branch()" class="btn btn-default btn-sm">Parent</button>

            </div>

            <div class="m-b-10">
                <button data-ng-click="my_tree.expand_branch()" class="btn btn-default btn-sm">Expand</button>
                <button data-ng-click="my_tree.collapse_branch()" class="btn btn-default btn-sm">Collapse</button>
            </div>

            <div class="m-b-10">
                <button data-ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
                <button data-ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
            </div>

            <div class="m-b-10">
                <button data-ng-click="try_adding_a_branch()" class="btn btn-success btn-sm">Add Branch</button>
            </div>
        </div>
    </div>
    <div class="col-md-5 column">
        <div class="p-10">
            <span data-ng-if="doing_async">...loading...</span>
            <abn-tree 
                tree-data="my_data" 
                tree-control="my_tree" 
                on-select="my_tree_handler(branch)" 
                expand-level="2" 
                initial-selection="Granny Smith"
                icon-leaf="fa fa-file-o fa-fw"
                icon-expand="fa fa-angle-right fa-fw"
                icon-collapse="fa fa-angle-down fa-fw"
                ></abn-tree>
        </div>
    </div>
    <div class="col-md-4 column">
        <div class="p-10">
            <div class="alert alert-info">{{ output}}</div>
        </div>
    </div>
</div>
