<div class="section-header">
    <h1 class="h3 section-text">Widgets</h1>
</div>

<div class="wrapper">
    <div class="row row-gap-5 row-panel-10">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading no-border-i bg-info-i color-white panel-fix">
                    NYC Office
                </div>
                <div class="panel-body no-p panel-fix">
                    <div class="item">
                        <img src="img/dummy1.jpg" class="img-full">
                        <div class="wrapper bottom left">
                            <div class="p-10">
                                <div class="h4 no-m color-white text-info m-b-10">New York City</div>
                                <div class="color-white">
                                    <div>Now closed</div>
                                    <div>9:00 am - 15:00 pm</div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper top right">
                            <div class="p-10 color-white">
                                <i class="fa fa-star-o fa-2x"></i>
                            </div>
                        </div>
                        <div class="wrapper bottom right">
                            <div class="p-10 text-right">
                                <div class="h5 no-m color-white text-info m-b-3">Colleagues: 55</div>
                                <div class="h5 no-m color-white text-info">Projects: 13</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-m box-border-b-light">
                        <div class="col-xs-4 col-lg-4 no-p text-center box-border-r-light">
                            <div class="p-20">
                                <div><i class="fa fa-comment-o fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Comments</div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-4 no-p text-center box-border-r-light">
                            <div class="p-20">
                                <div><i class="fa fa-folder-o fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Folders</div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-4 no-p text-center">
                            <div class="p-20">
                                <div><i class="fa fa-laptop fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Machines</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-m">
                        <div class="col-xs-4 col-lg-4 no-p text-center box-border-r-light">
                            <div class="p-20">
                                <div><i class="fa fa-lightbulb-o fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Ideas</div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-4 no-p text-center box-border-r-light">
                            <div class="p-20">
                                <div><i class="fa fa-heart-o fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Likes</div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-4 no-p text-center">
                            <div class="p-20">
                                <div><i class="fa fa-smile-o fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Experience</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel b-info">
                <div class="p-10 clearfix">
                    <span class="avatar m-r-3">
                        <img src="img/small_avatar.jpg" class="img-circle thumb-xxs">
                        <i class="on bottom"></i>
                    </span>
                    <span>
                        Saul Doe
                    </span>
                    <button type="button" class="btn btn-primary btn-rounded pull-right btn-line btn-sm">Contact</button>
                </div>
            </div>

            <div class="panel b-success">
                <div class="p-20">
                    <span class="avatar m-r-3">
                        <img src="img/small_avatar.jpg" class="img-circle thumb-xxs">
                        <i class="on bottom"></i>
                    </span>
                    <span class="avatar m-r-3">
                        <img src="img/small_avatar.jpg" class="img-circle thumb-xxs">
                        <i class="off bottom"></i>
                    </span>
                    <span class="avatar m-r-3">
                        <img src="img/small_avatar.jpg" class="img-circle thumb-xxs">
                        <i class="away bottom"></i>
                    </span>
                    <span class="avatar m-r-3">
                        <img src="img/small_avatar.jpg" class="img-circle thumb-xxs">
                        <i class="on bottom"></i>
                    </span>
                    <button type="button" class="btn btn-success btn-rounded btn-sm"><strong>+123</strong></button>
                </div>
            </div>

        </div>
        <div class="col-md-4" ng-init="easy1= {
                    options: {
            animate: {
                            duration: 500,
                            enabled: true
            }
            ,
                        size: 70, barColor: '#34b5f7', lineWidth: 3, scaleColor: ''
            }
            };
                    easy2 = {
                    options: {
                animate: {
                            duration: 500,
                            enabled: true
                    }
            ,
                        size: 70, barColor: '#73dd4d', lineWidth: 3, scaleColor: ''
            }
            };
                    easy3 = {
                    options: {
                animate: {
                            duration: 500,
                            enabled: true
                    }
            ,
                        size: 70, barColor: '#fae6d0', lineWidth: 3, scaleColor: ''
            }
                }">
            <div class="panel panel-default">
                <div class="panel-heading bg-info color-white no-border bg-facebook p-50-i item panel-fix">
                    <div class="wrapper top left">
                        <div class="p-10 color-white">
                            <i class="fa fa-eye"></i> 4433
                        </div>
                    </div>
                    <div class="wrapper top right">
                        <div class="p-10 color-white">
                            <i class="fa fa-thumbs-o-up "></i> 1345
                        </div>
                    </div>
                </div>
                <div class="panel-body no-p">
                    <div class="item">
                        <div class="text-center">
                            <div class="thumb m-t-n-lg b-rad-500 bg-facebook color-white p-20 lg b-4px b-solid b-white" >
                                <i class="fa fa-facebook fa-3x fa-fw m-t-10"></i>
                            </div>
                            <div class="h4 no-m m-t-b-10">Facebook stats</div>
                        </div>
                    </div>
                    <div class="p-t-b-15 box-border-t-light box-border-b-light bg-grey-lt-lt">
                        <div class="row no-m text-center">
                            <div class="col-xs-4 no-p">
                                <div class="m-b-10 text-muted">Activity</div>
                                <div class="easy-chart" style="width: 70px;height: 70px;" easypiechart options="easy1.options" percent="44">
                                    <span class="percent" style="line-height: 70px;">44%</span>
                                </div>
                            </div>
                            <div class="col-xs-4 no-p">
                                <div class="m-b-10 text-muted">Visits</div>
                                <div class="easy-chart" style="width: 70px;height: 70px;" easypiechart options="easy2.options" percent="66">
                                    <span class="percent" style="line-height: 70px;">66%</span>
                                </div>
                            </div>
                            <div class="col-xs-4 no-p">
                                <div class="m-b-10 text-muted">Reviews</div>
                                <div class="easy-chart" style="width: 70px;height: 70px;" easypiechart options="easy3.options" percent="11">
                                    <span class="percent" style="line-height: 70px;">11%</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row no-m text-center">
                        <div class="col-xs-6 no-p box-border-r-light">
                            <div class="p-15">
                                <div class="text-muted">Posts</div>
                                333
                            </div>
                        </div>
                        <div class="col-xs-6 no-p">
                            <div class="p-15">
                                <div class="text-muted">Admins</div>
                                13
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="p-30-i text-center">
                    <div>
                        <img src="img/big_avatar2.jpg" class="img-circle">
                    </div>
                    <div class="h3 no-m m-t-20">Jessica Johns</div>
                    <div class="text-muted m-b-10">Designer</div>
                    <div class="row no-m color-white">
                        <div class="col-xs-4 no-pt bg-info lt">
                            <div class="p-10">
                                HTML5
                            </div>
                        </div>
                        <div class="col-xs-4 no-p bg-info ">
                            <div class="p-10">
                                CSS3
                            </div>
                        </div>
                        <div class="col-xs-4 no-p bg-info dk">
                            <div class="p-10">
                                JS
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel no-border-i bg-twitter ">
                <div class="panel-heading no-b-i text-center p-30-i">
                    <i class="fa fa-twitter fa-3x color-white"></i>
                </div>
                <div class="panel-body p-10 no-p-t color-white text-center">
                    <div class=" ">
                        "Your time is limited, so don't waste it living someone else's life."#qoute
                    </div>
                    <div class="text-right text-xs text-italic">
                        <span class=""></span>- Steve Travis
                    </div>
                    <div class="clearfix m-t-10">
                        <button class="btn btn-icon btn-default btn-xs btn-rounded pull-right btn-line color-white b-white"><i class="fa fa-star-o"></i></button>
                        <button class="btn btn-icon btn-default btn-xs btn-rounded pull-right btn-line color-white b-white m-r-5"><i class="fa fa-heart-o"></i></button>
                    </div>
                </div>
            </div>
            <div class="panel bg-white lt panel-default">
                <div class="panel-heading no-bg">Chat</div>
                <ul class="chat-widget chat-image scrollable relative m-t-10">  
                    <li>
                        <img src="img/avatar1.jpg" class="thumb-xxs">
                        <div class="time">Thursday, Mar 26, 8:07 am</div>
                        <div class="msgs">
                            <div>
                                <p>Lorem ipsum dolor</p>
                            </div>
                            <div>
                                <p>consectr adipisc.</p>
                            </div>
                        </div>
                    </li>
                    <li class="from-me">
                        <div class="time">Thursday, Mar 26, 9:07 am</div>
                        <img src="img/avatar2.jpg" class="thumb-xxs">
                        <div class="msgs">
                            <div>
                                <p>Lorem ipsum dolor sit amet, conseter adipisc.</p>
                            </div>
                            <div>
                                <p>sit amet.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="img/avatar1.jpg" class="thumb-xxs">
                        <div class="time">Thursday, Mar 26, 10:07 am</div>
                        <div class="msgs">
                            <div>
                                <p>Conseter adipisc, lorem ipsum dolor sit amet.</p>
                            </div>

                        </div>
                    </li>
                </ul>
                <div class="post-widget " style="margin:5px;">
                    <textarea class="form-control" placeholder="Send your message" data-ng-model="dummyyy"></textarea>
                    <div>
                        <button class="btn btn-text no-bg pull-right btn-xs m-t-3" type="button">Send</button>
                        <ul class="nav nav-pills nav-sm">
                            <li><a><i class="fa fa-upload"></i></a></li>
                            <li><a><i class="fa fa-camera"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-gap-5 row-panel-10">
        <div class="col-md-4">
            <div class="panel bg-dark lt p-30-i b-rad-3 color-white">
                <div class="p-b-20">
                    WORLD NEWS
                </div>
                <div class="h3 no-m m-b-50">
                    Happiness is not something ready made. It comes from your own actions.
                </div>
                <div class="progress progress-xs no-m m-b-30">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <div class="m-r-l-30 text-center">
                    <button type="button" class="btn btn-line btn-rounded btn-success">READ MORE</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="row no-m table-display r-sm-table">
                    <div class="col-md-6 no-p panel-fix-full-left c-sm-cell">
                        <div class="no-border-i p-30-i bg-primary lt">
                            <b class="h4 no-m">Graphs</b> <i class="fa fa-gear pull-right"></i>
                        </div>
                        <div class="p-30 no-p bg-primary lt no-p-t">
                            <div class="h1 no-m m-b-5">35,567</div>
                            <div class="">Graphs created</div>
                            <div class="m-b-8">from the 17th Apr to now</div>
                        </div>
                        <div class="bg-primary no-border-i p-30-i ">
                            <div class="">Median: 186 graphs per day</div>
                        </div>
                    </div>
                    <div class="col-md-6 no-p c-sm-cell">
                        <ul class="simple-list no-m no-b-i">
                            <li class="clearfix">
                                <i class="fa fa-circle-o text-success"></i>
                                Campaign #1 Chart seo
                                <span class="text-muted pull-right">Now</span>
                            </li>
                            <li>
                                <i class="fa fa-circle-o text-warning"></i>
                                Homepage -demo 
                                <span class="text-muted pull-right">10 min</span>
                            </li>
                            <li>
                                <i class="fa fa-circle-o text-success"></i>
                                Invoice charts
                                <span class="text-muted pull-right">30 min</span>
                            </li>
                            <li>
                                <i class="fa fa-circle-o text-danger"></i>
                                Guests count chart
                                <span class="text-muted pull-right">1 hour</span>
                            </li>
                            <li>
                                <i class="fa fa-circle-o text-success"></i>
                                Commercial #16
                                <span class="text-muted pull-right">6 hour</span>
                            </li>
                            <li>
                                <i class="fa fa-circle-o text-warning"></i>
                                Lorem ipsum
                                <span class="text-muted pull-right">Yesterday</span>
                            </li>
                            <li>
                                <i class="fa fa-circle-o text-danger"></i>
                                Guests count chart
                                <span class="text-muted pull-right">1 hour</span>
                            </li>
                            <li>
                                <i class="fa fa-circle-o text-success"></i>
                                Invoice charts
                                <span class="text-muted pull-right">30 min</span>
                            </li>
                            <li>
                                <i class="fa fa-circle-o text-warning"></i>
                                Homepage -demo 
                                <span class="text-muted pull-right">10 min</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row row-gap-5 row-panel-10">
        <div class="col-md-6 col-lg-3">
            <div class="panel bg-light dk p-30-i b-info b-dashed b-2px text-center text-info">
                <div class="m-b-5"><i class="fa fa-cloud-upload fa-4x"></i></div>
                <div class="">Drag & drop to upload</div>
                <div> or <span class="text-underline"><strong>Browse Image</strong></span></div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel bg-info lt p-20 no-border-i color-white">
                <div class="m-b-3"><strong>100x200_dashb.png</strong></div>
                <div class="text-xs">957.33 KB</div>
                <div class="m-t-50">
                    <div class="progress progress-sm no-m m-b-3 no-bg b-1px b-solid b-white">
                        <div class="progress-bar progress-bar-success bg-white" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                    <div class="text-center">Uploading...</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel bg-info lt p-30-i no-border color-white text-center">
                <div class="m-b-10"><i class="fa fa-check-circle-o fa-5x"></i></div>
                <div class="m-b-3">Successfully uploaded</div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="p-30 item">
                    <div class="h4 no-m">Gorillaz <i class="fa fa-pause fa-2x pull-right text-warning"></i></div>
                    <div class="text-xs">Gorillaz 2001.</div>

                </div>
                <div class="bg-light item">
                    <div class="p-30 bg-success dk item" style="width:42%"></div>
                    <div class="wrapper top left right">
                        <div class="p-20 text-center">
                            <div>
                                <i class="fa fa-angle-double-left pull-left fa-2x inline"></i> 
                                <span>Clint Eastwood <span class="text-muted text-xs">00:37/04:28</span></span> 
                                <i class="fa fa-angle-double-right pull-right fa-2x inline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="row row-gap-5 row-panel-10">
        <div class="col-md-5">
            <div class="streamline">
                <div class="item">
                    <div class="wrapper top right">
                        <div class="p-5">
                            <span class="label label-info">Publisher</span>
                        </div>
                    </div>
                    <div class="m-b-15 m-l-10">
                        <img src="img/avatar3.jpg" class="img-circle pull-left m-r-10 thumb-sm">
                        <div class="p-5">
                            <div class="h5 no-m"><strong>John Good</strong></div>
                            <div class="text-muted text-xs">10 min ago</div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-arrow b-primary">
                        <div class="panel-body">

                            <blockquote>
                                <p>Your time is limited, so don't waste it living someone else's life</p>
                                <small>Steve Travis</small>
                            </blockquote>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </div>
                        <div class="p-5 clearfix bg-light lt p-r-l-20">
                            <a class="text-success">2<i class="fa fa-angle-up fa-fw"></i></a>
                            <a class="text-danger m-r-10"><i class="fa fa-angle-down fa-fw"></i></a>
                            <a class="text-xs pull-right m-l-5 p-3">Share</a>
                            <a class="text-xs pull-right p-3">Reply</a>
                        </div>
                    </div>

                    <div class="streamline">
                        <div class="item">
                            <div class="wrapper top right">
                                <div class="p-5">
                                    <span class="label label-danger">Admin</span>
                                </div>
                            </div>
                            <div class="m-b-15 m-l-10">
                                <img src="img/avatar4.jpg" class="img-circle pull-left m-r-10 thumb-sm">
                                <div class="p-5">
                                    <div class="h5 no-m"><strong>Ricardo Williams</strong></div>
                                    <div class="text-muted text-xs">15 min ago</div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-arrow">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet
                                </div>
                                <div class="p-5 clearfix bg-light lt p-r-l-20">
                                    <a class="text-success"><i class="fa fa-angle-up fa-fw"></i></a>
                                    <a class="text-danger m-r-10">1<i class="fa fa-angle-down fa-fw"></i></a>
                                    <a class="text-xs pull-right m-l-5 p-3">Share</a>
                                    <a class="text-xs pull-right p-3">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="wrapper top right">
                        <div class="p-5">
                            <span class="label label-primary">Lawyer</span>
                        </div>
                    </div>
                    <div class="m-b-15 m-l-10">
                        <img src="img/avatar5.jpg" class="img-circle pull-left m-r-10 thumb-sm">
                        <div class="p-5">
                            <div class="h5 no-m"><strong>Saul Doe</strong></div>
                            <div class="text-muted text-xs">20 min ago</div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-arrow">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </div>
                        <div class="p-5 clearfix bg-light lt p-r-l-20">
                            <a class="text-success"><i class="fa fa-angle-up fa-fw"></i></a>
                            <a class="text-danger m-r-10"><i class="fa fa-angle-down fa-fw"></i></a>
                            <a class="text-xs pull-right m-l-5 p-3">Share</a>
                            <a class="text-xs pull-right p-3">Reply</a>
                        </div>
                    </div>
                    <div class="streamline">
                        <div class="item">
                            <div class="wrapper top right">
                                <div class="p-5">
                                    <span class="label label-info">Publisher</span>
                                </div>
                            </div>
                            <div class="m-b-15 m-l-10">
                                <img src="img/avatar3.jpg" class="img-circle pull-left m-r-10 thumb-sm">
                                <div class="p-5">
                                    <div class="h5 no-m"><strong>John Good</strong></div>
                                    <div class="text-muted text-xs">10 min ago</div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-arrow b-danger">
                                <div class="panel-body">
                                    Integer posuere erat a ante.
                                </div>
                                <div class="p-5 clearfix bg-light lt p-r-l-20">
                                    <a class="text-success"><i class="fa fa-angle-up fa-fw"></i></a>
                                    <a class="text-danger m-r-10">1<i class="fa fa-angle-down fa-fw"></i></a>
                                    <a class="text-xs pull-right m-l-5 p-3">Share</a>
                                    <a class="text-xs pull-right p-3">Reply</a>
                                </div>
                            </div>
                            <div class="streamline">
                                <div class="item">
                                    <div class="wrapper top right">
                                        <div class="p-5">
                                            <span class="label label-info">Publisher</span>
                                        </div>
                                    </div>
                                    <div class="m-b-15 m-l-10">
                                        <img src="img/avatar3.jpg" class="img-circle pull-left m-r-10 thumb-sm">
                                        <div class="p-5">
                                            <div class="h5 no-m"><strong>John Good</strong></div>
                                            <div class="text-muted text-xs">10 min ago</div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default panel-arrow">
                                        <div class="panel-body">
                                            consectetur adipiscing elit
                                        </div>
                                        <div class="p-5 clearfix bg-light lt p-r-l-20">
                                            <a class="text-success"><i class="fa fa-angle-up fa-fw"></i></a>
                                            <a class="text-danger m-r-10">1<i class="fa fa-angle-down fa-fw"></i></a>
                                            <a class="text-xs pull-right m-l-5 p-3">Share</a>
                                            <a class="text-xs pull-right p-3">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="wrapper top right">
                        <div class="p-5">
                            <span class="label label-danger">Admin</span>
                        </div>
                    </div>
                    <div class="m-b-15 m-l-10">
                        <img src="img/avatar4.jpg" class="img-circle pull-left m-r-10 thumb-sm">
                        <div class="p-5">
                            <div class="h5 no-m"><strong>Ricardo Williams</strong></div>
                            <div class="text-muted text-xs">10 min ago</div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-arrow b-info">
                        <div class="panel-body">
                            <blockquote>
                                <p>Happiness is not something ready made. It comes from your own actions.</p>
                                <small>Someone</small>
                            </blockquote>
                            adipiscing elit. Integer posuere erat a ante.
                        </div>
                        <div class="p-5 clearfix bg-light lt p-r-l-20">
                            <a class="text-success">2<i class="fa fa-angle-up fa-fw"></i></a>
                            <a class="text-danger m-r-10"><i class="fa fa-angle-down fa-fw"></i></a>
                            <a class="text-xs pull-right m-l-5 p-3">Share</a>
                            <a class="text-xs pull-right p-3">Reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel flat panel-default">
                <div class="panel-body no-p-t-b">
                    <div class="row widget-weather">
                        <div class="col-md-4 col-sm-12 actual">
                            <p>Today</p>
                            <h2 class="no-m"><i class="icon-map-marker"></i> London</h2>
                            <div><span class="c-icon climacon sun"></span></div>
                            <h3 class="no-m">73°</h3>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="row days">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <p>Tue</p>
                                    <div><span class="c-icon climacon cloud sun"></span></div>
                                    <h5>Cloudy</h5>
                                    <h3>78°</h3>
                                    <h3>53°</h3>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <p>Wed</p>
                                    <div><span class="c-icon climacon sun"></span></div>
                                    <h5>Sunny</h5>
                                    <h3>73°</h3>
                                    <h3>49°</h3>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <p>Thu</p>
                                    <div><span class="c-icon climacon cloud"></span></div>
                                    <h5>Cloudly</h5>
                                    <h3>69°</h3>
                                    <h3>55°</h3>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <p>Fri</p>
                                    <div><span class="c-icon climacon sun"></span></div>
                                    <h5>Sunny</h5>
                                    <h3>80°</h3>
                                    <h3>63°</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-t-10">
                <div class="col-sm-12">
                    <div class="row row-gap-5">
                        <div class="col-md-6 col-sm-12">
                            <div class="panel b-danger">
                                <div class="panel-heading">
                                    <i class="fa fa-circle-o "></i> Stock#2
                                    <span class="pull-right text-def">
                                        <i class="fa fa-comment-o "></i> 22
                                    </span>
                                </div>
                                <div class="panel-body no-p text-center">
                                    <div class="p-15">
                                        <div class="m-b-3">Microsoft Corporation (MSFT)</div>
                                        <div class="text-muted text-xs m-b-10"> - Dec 12, 4:00PM EST</div> 
                                        <div>
                                            <span class="h2 no-m">46.95 </span> 
                                            <i class="fa fa-long-arrow-down text-danger"></i>
                                            <span class="h5 no-m text-danger"> 0.22 (0.47%) </span>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="panel b-primary">
                                <div class="panel-heading">
                                    <i class="fa fa-circle-o "></i> Stock#1
                                    <span class="pull-right text-def">
                                        <i class="fa fa-comment-o "></i> 5
                                    </span>
                                </div>
                                <div class="panel-body no-p text-center">


                                    <div class="p-15">
                                        <div class="m-b-3">Apple Inc.</div>
                                        <div class="text-muted text-xs m-b-10"> - Dec 12, 4:00PM EST</div> 
                                        <div>
                                            <span class="h2 no-m">111.55 </span> 
                                            <i class="fa fa-long-arrow-up text-success"></i>
                                            <span class="h5 no-m text-success"> 0.15 (0.11%) </span>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="info-line p-20">
                        <div class="item">
                            <div>
                                <div class="text-muted">5 minutes ago</div>
                                <div>Revert "Use jsDelivr CDN...</div>
                            </div>
                        </div>
                        <div class="item b-success">
                            <div>
                                <div class="text-muted">Yesterday</div>
                                <div>Replace deprecated uses of .pull-left...</div>
                            </div>
                        </div>
                        <div class="item b-warning">
                            <div>
                                <div class="text-muted">Tuesday</div>
                                <div>Fix the iOS 8 unit...</div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="text-muted">Last saturday</div>
                                <div>Add Wall of Browser Bugs entry for...</div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div class="text-muted">Last friday</div>
                                <div>Merge branch..</div>
                            </div>
                        </div>
                        <div class="item b-success">
                            <div>
                                <div class="text-muted">Yesterday</div>
                                <div>Replace deprecated...</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row no-m b-b-b-l b-b-t-l b-b-l-l b-b-r-l m-t-20 bg-white">
                        <div class="col-xs-6 no-p text-center b-b-r-l b-b-b-l">
                            <a class="p-10 block">
                                <div><i class="fa fa-comment-o fa-2x fa-fw"></i></div>
                                <div class="m-t-3 text-xs">Comments</div>
                            </a>
                        </div>
                        <div class="col-xs-6 no-p text-center b-b-b-l">
                            <a class="p-10 block">
                                <div><i class="fa fa-folder-o fa-2x fa-fw"></i></div>
                                <div class=" m-t-3 text-xs">Folders</div>
                            </a>
                        </div>
                        <div class="col-xs-6 no-p text-center b-b-r-l">
                            <a class="p-10 block">
                                <div><i class="fa fa-laptop fa-2x fa-fw"></i></div>
                                <div class="m-t-3 text-xs">Machines</div>
                            </a>
                        </div>
                        <div class="col-xs-6 no-p text-center">
                            <a class="p-10 block">
                                <div><i class="fa fa-lightbulb-o fa-2x fa-fw"></i></div>
                                <div class="m-t-3 text-xs">Projects</div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>
