<div class="section-header">
    <div class="container-content-boxed">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h3 section-text">Page title</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-content-boxed m-t-b-15">
    <div class="row row-gap-5 row-panel-10">
        <div class="col-md-3">
            <div class="panel b-primary">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
    </div>
    <div class="row row-gap-5 row-panel-10">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b-primary">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b-success">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
    </div>
    <div class="row row-gap-5 row-panel-10">
        <div class="col-md-4">
            <div class="panel b-info">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
    </div>
    <div class="row row-gap-5 row-panel-10">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel b-danger">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
    </div>
    <div class="row row-gap-5 row-panel-10">
        <div class="col-md-3">
            <div class="panel b-primary">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel b-success">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading">
                    Panel
                    <div class="panel-settings">
                        <a href="#" class="panel-collapse"><i class="fa fa-chevron-down"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#"><i class="fa fa-wrench"></i></a>
                    </div>
                </div>
                <div class="panel-body" style="height:200px;">

                </div>
            </div>
        </div>
    </div>
</div>