<div class="row  bg-lightgrey" data-app-layout-application>
    <div class="column box-border-r col-md-6 col-sm-6">
        <div class="table-display">
            <div class="p-15 box-border-b-light text-center">HEADER</div>
            <div class="table-row">
                <div class="table-cell">
                    <div class="a-box">
                        <div class="p-15">
                            Scrollable content
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-15 box-border-t-light text-center">FOOTER</div>
        </div>
    </div>
        <div class="column box-border-r col-md-6 col-sm-6">
        <div class="table-display">
            <div class="p-15 box-border-b-light text-center">HEADER</div>
            <div class="table-row">
                <div class="table-cell">
                    <div class="a-box">
                        <div class="p-15">
                            Scrollable content
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-15 box-border-t-light text-center">FOOTER</div>
        </div>
    </div>

</div>