<div class="wrapper" data-ng-controller="ChartsCtrl">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Area
                </div>
                <div class="panel-body relative">
                    <div id="morris1" morris type="'area'" options="morris.area" ></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bar
                </div>
                <div class="panel-body relative">
                    <div id="morris2" morris type="'bar'" options="morris.bar" ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Multi Line
                </div>
                <div class="panel-body relative">
                    <div id="morris3" morris type="'line'" options="morris.line" ></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Donut
                </div>
                <div class="panel-body relative">
                    <div id="morris4" morris type="'donut'" options="morris.donut" ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Line
                </div>
                <div class="panel-body relative">
                    <div id="morris5" morris type="'line'" options="morris.flat" ></div>
                </div>
            </div>
        </div>
    </div>
    
</div>
