<li class="active">
    <a data-ng-click="$root.showChatAside()">
        <img src="img/avatar1.jpg" class="img-circle thumb-xxs">
        <div>
            <p class="no-m">
                <strong>Jesse Holmes</strong> <span class="pull-right time text-xs">Now</span>
            </p>
            <p class="no-m">Pork chop brisket corned</p>
        </div>
    </a>
</li>
<li>
    <a data-ng-click="$root.showChatAside()">
        <img src="img/avatar2.jpg" class="img-circle thumb-xxs">
        <div>
            <p class="no-m">
                <strong>Greg Abraham</strong><span class="time text-xs">20 mins</span>
            </p>
            <p class="no-m">Bacon ipsum dolor amet biltong</p>
        </div>
    </a>
</li>
<li>
    <a data-ng-click="$root.showChatAside()">
        <img src="img/avatar3.jpg" class="img-circle thumb-xxs">
        <div>
            <p class="no-m">
                <strong>Rick Nevada</strong><span class="time text-xs">1 hour</span>
            </p>
            <p class="no-m">Corned beef fatback tri-tip t-bone</p>
        </div>
    </a>
</li>
<li>
    <a data-ng-click="$root.showChatAside()">
        <img src="img/avatar4.jpg" class="img-circle thumb-xxs">
        <div>
            <p class="no-m">
                <strong>Dexter Minas</strong><span class="time text-xs">12 hour</span>
            </p>
            <p class="no-m">Drumstick swine, jerky cupim biltong</p>
        </div>
    </a>
</li>
<li>
    <a data-ng-click="$root.showChatAside()">
        <img src="img/avatar1.jpg" class="img-circle thumb-xxs"><span class="time text-xs">15 hour</span>
        <div>
            <p class="no-m">
                <strong>Jesse Holmes</strong>
            </p>
            <p class="no-m">Hamburger rump cupim, shank </p>
        </div>
    </a>
</li>
<li>
    <a data-ng-click="$root.showChatAside()">
        <img src="img/avatar3.jpg" class="img-circle thumb-xxs">
        <div>
            <p class="no-m">
                <strong>Rick Nevada</strong><span class="time text-xs">16 hour</span>
            </p>
            <p class="no-m">Capicola pork loin ham hock venison</p>
        </div>
    </a>
</li>