<div class="modal-body no-p no-m nav-tabs-alt bg-white table-display">
    <div class="p-15 b-b-b-l">
        <span class="h4 no-m">The Chat</span> <a class="pull-right" data-ng-click="cancel()"><i class="fa fa-times"></i></a>
    </div>
    <div class="table-row">
        <ul class="chat-widget chat-image scrollable relative m-t-10">  
            <li>
                <img src="img/avatar1.jpg" class="thumb-xxs">
                <div class="time">Thursday, Mar 26, 8:07 am</div>
                <div class="name">Jesse Holmes</div>
                <div class="msgs">
                    <div>
                        <p>Lorem ipsum dolor</p>
                    </div>
                    <div>
                        <p>consectr adipisc.</p>
                    </div>
                </div>
            </li>
            <li class="from-me">
                <div class="time">Thursday, Mar 26, 9:07 am</div>
                <img src="img/avatar2.jpg" class="thumb-xxs">
                <div class="name">Greg Abraham</div>
                <div class="msgs">
                    <div>
                        <p>Lorem ipsum dolor sit amet, conseter adipisc.</p>
                    </div>
                    <div>
                        <p>sit amet.</p>
                    </div>
                </div>
            </li>
            <li>
                <img src="img/avatar1.jpg" class="thumb-xxs">
                <div class="time">Thursday, Mar 26, 10:07 am</div>
                <div class="name">Jesse Holmes</div>
                <div class="msgs">
                    <div>
                        <p>Conseter adipisc, lorem ipsum dolor sit amet.</p>
                    </div>

                </div>
            </li>
        </ul>
    </div>

    <div class="post-widget " style="margin:5px;">
        <textarea class="form-control" placeholder="Send your message" data-ng-model="dummyyy"></textarea>
        <div>
            <button class="btn btn-text no-bg pull-right btn-xs m-t-3" type="button">Send</button>
            <ul class="nav nav-pills nav-sm">
                <li><a><i class="fa fa-upload"></i></a></li>
                <li><a><i class="fa fa-camera"></i></a></li>
            </ul>

        </div>
    </div>

</div>