<div class="wrapper">
    <div class="container-content-boxed">
        <div class="row ">
            <div class="col-md-12  ">
                <div class="b-b-r-l b-b-t-l b-b-l-l b-b-b-l bg-white">
                    <div class="bg-light lt p-50">
                        <div class="row m-b-30">
                            <div class="col-sm-6">
                                <h1 class="no-m m-b-10">INVOICE</h1>
                                <div class="h3 no-m m-b-3">00455/2015</div>
                                <p class="text-muted no-m">
                                    06 June 2015
                                </p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <h1 class="no-m m-b-10">Your company</h1>
                                <p class="text-muted no-m">
                                    The company studio
                                </p>
                                <p class="text-muted no-m">
                                    6/Fifht Avenue 35535 New Dork City
                                </p> 
                                <p class="text-muted no-m">
                                    CA 94043, United States
                                </p>
                            </div>
                        </div>

                        <div class="row m-b-30">
                            <div class="col-sm-6">
                                <h2 class="no-m m-b-10">The client</h2>
                                <p class="text-muted no-m">
                                    The company studio
                                </p>
                                <p class="text-muted no-m">
                                    6/Fifht Avenue 35535 New Dork City
                                </p>
                                <p class="text-muted no-m">
                                    CA 94043, United States
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <div class="bg-dark p-10"> 
                                    <div class="m-b-20">TOTAL</div>
                                    <div class="text-right">
                                        <span class="no-m h1 color-white">$12,5667</span><span class="no-m h1 font-thin"> USD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-r-l-50 m-t-b-20">
                        <table class="table table-vertical-middle">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th class="text-center">Rate</th>
                                    <th class="text-center">Hours</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-t-b-20">
                                        <h5 class="no-m m-b-5">Web design</h5>
                                        <p class="text-muted no-m">Lorem ipsum dolor sit amet lorem ipsum idsfds</p>
                                    </td>
                                    <td class="p-t-b-20 text-center">
                                        <p class="no-m">$70.00</p>
                                    </td>
                                    <td class="p-t-b-20 text-center">
                                        <p class="no-m">50</p>
                                    </td>
                                    <td class="p-t-b-20 text-right">
                                        <p class="no-m">$4,500.00</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-t-b-20">
                                        <h5 class="no-m m-b-5">Awesome product</h5>
                                        <p class="text-muted no-m">Lorem ipsum dolor sit amet lore</p>
                                    </td>
                                    <td class="p-t-b-20 text-center">
                                        <p class="no-m">$10.00</p>
                                    </td>
                                    <td class="p-t-b-20 text-center">
                                        <p class="no-m">10</p>
                                    </td>
                                    <td class="p-t-b-20 text-right">
                                        <p class="no-m">$1,500.00</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-t-b-20">
                                        <h5 class="no-m m-b-5">Cool thing</h5>
                                        <p class="text-muted no-m">Lorem ipsum dolor sit amet lore</p>
                                    </td>
                                    <td class="p-t-b-20 text-center">
                                        <p class="no-m">$1.00</p>
                                    </td>
                                    <td class="p-t-b-20 text-center">
                                        <p class="no-m">100</p>
                                    </td>
                                    <td class="p-t-b-20 text-right">
                                        <p class="no-m">$100.00</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="p-r-l-50 m-t-b-50 ">
                        <div class="row bg-light no-m">
                            <div class="col-sm-3 no-p">
                                <div class="p-10"> 
                                    <div class="text-muted">SUBTOTAL</div>
                                    <h4 class="no-m">$10,5667</h4>
                                </div>
                            </div>
                            <div class="col-sm-3 no-p">
                                <div class="p-10"> 
                                    <div class="text-muted">TAXES/FEES</div>
                                    <h4 class="no-m">$2000,0</h4>
                                </div>
                            </div>
                            <div class="col-sm-6 text-right no-p">
                                <div class="bg-dark p-10 inline-block p-l-20"> 
                                    <div class="">TOTAL</div>
                                    <div class="text-right">
                                        <span class="no-m h3 color-white">$12,5667</span><span class="no-m h3 font-thin"> USD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <p class="no-m m-t-b-20 text-muted text-xs">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                        
                        <div class="b-b-t-l p-t-20">
                            <span class="h4 no-m inline-block m-r-30">YOUR COMPANY</span>
                            <span class="inline-block m-r-30">+55 543 3242 333</span>
                            <span class="inline-block m-r-30">support@yourcompany.com</span>
                        </div>
                    </div>
                    
                    
                </div>

            </div>
        </div>
    </div>
</div>
