<div class="bg-themeYellow h-100">
    <div class="container text-center animated fadeIn bg-themeYellow">
        <div class="loginBox">
            <div class="logoPlace" style="height:150px;line-height: 150px;">
                <img src="img/logos/yeapp_logo_big.png">
            </div>
            <div class="text-muted m-b-20">Input your email to reset your password</div>
            <form action="index.html" class="relative">
                <div class="form-group item">
                    <input class="form-control form-control-line" placeholder="Email" type="text">
                    <div class="wrapper right top">
                        <input type="submit" class="btn btn-primary btn-line btn-rounded" value="Send">
                    </div>
                </div>
            </form>
            <div class="clearfix">
                <a ui-sref="access.signup" class="pull-right">Sign up</a>
                <a ui-sref="access.login" class="pull-left">Login</a>
            </div>
        </div>
    </div>
</div>


