<div class="bg-themeBlue h-100 lock-screen-holder">
    <div class="text-center">
        <div class="inline-block lock-screen b-rad-30 animated fadeInUp">
            <div>
                <img src="img/avatar7.jpg" class="img-circle">
            </div>
            <div class="h4 no-m m-t-b-10">
                Saul Doe
            </div>
            <form action="index.html">
                <div class="input-group">
                    <input type="text" class="form-control rounded inline-block" placeholder="Enter your password" autofocus>
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-rounded" type="submit"><i class="fa fa-unlock-alt"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>


