<div class="bg-themeBlue h-100">
    <div class="container text-center animated fadeIn bg-themeBlue">
        <div class="loginBox">
            <div class="logoPlace no-m-i">
                <img src="img/logos/yeapp_logo_big.png">
            </div>
            <div class="text-muted m-b-5">Sign up to find interesting thing</div>
            <form action="index.html" class="relative">
                <div class="form-group">
                    <input class="form-control form-control-line" placeholder="Username" type="text">
                </div>
                <div class="row row-gap-5">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input class="form-control form-control-line" placeholder="First name" type="text" >
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input class="form-control form-control-line" placeholder="Last name" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-line" placeholder="Email" type="text">
                </div>
                <div class="form-group item">
                    <input class="form-control form-control-line" placeholder="Password" type="password">
                    <div class="wrapper right top">
                        <input type="submit" class="btn btn-primary btn-line btn-rounded" value="Sign Up">
                    </div>
                </div>
                <div class="clearfix m-b-10">
                    <label class="app-checkbox pull-left">
                        <input type="checkbox"> 
                        <i></i>
                        <span class="text-normal text-xs">Agree the terms and policy</span>
                    </label>
                </div>
            </form>
            <div class="clearfix">
                <a ui-sref="access.forget" class="pull-right">Forgot password?</a>
                <a ui-sref="access.login" class="pull-left">Login</a>
            </div>
        </div>
    </div>
</div>
