<div data-app-layout-application>
    <div class="column box-border-r col-350 ">
        <div class="table-display">
            <div class="input-holder bg-white">
                <i class="fa fa-search fa-2x tosearch"></i>
                <input type="text" class="form-control no-border no-bg no-shadow" placeholder="Search..." data-ng-model="searchText">
            </div>
            <div class="table-row">
                <div class="table-cell">
                    <div class="a-box">
                        <ul class="list list-hover list-light no-b-t condensed">
                            <li class="active">
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/avatar5.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>Jesse Holmes</strong>
                                                <span class="pull-right text-muted text-xs">5 min ago</span>
                                            </div>
                                            <div class="text-xs">
                                                Far far away, behind the word mountains, far from the countries...
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/avatar7.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>John Good</strong>
                                                <span class="pull-right text-muted text-xs">15 min ago</span>
                                            </div>
                                            <div class="text-xs">
                                                A wonderful serenity has taken possession of my entire soul, like these sweet...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/big_avatar2.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>Lisa Harrow</strong>
                                                <span class="pull-right text-muted text-xs">1 hour ago</span>
                                            </div>
                                            <div class="text-xs">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/avatar4.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>Harry Ignis</strong>
                                                <span class="pull-right text-muted text-xs">30 hour ago</span>
                                            </div>
                                            <div class="text-xs">
                                                Li Europan lingues es membres del sam familie. Lor separat existentie es un myth...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/avatar8.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>Thick Buck</strong>
                                                <span class="pull-right text-muted text-xs">Tuesday</span>
                                            </div>
                                            <div class="text-xs">
                                                Li Europan lingues esamilie. Lor separat existentie es un myth...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/avatar9.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>Sissy Lill</strong>
                                                <span class="pull-right text-muted text-xs">Saturday</span>
                                            </div>
                                            <div class="text-xs">
                                                Membres del sam familie. Lor separat existentie es un myth...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/avatar5.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>Jesse Holmes</strong>
                                                <span class="pull-right text-muted text-xs">5 min ago</span>
                                            </div>
                                            <div class="text-xs">
                                                Far far away, behind the word mountains, far from the countries...
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/avatar7.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>John Good</strong>
                                                <span class="pull-right text-muted text-xs">15 min ago</span>
                                            </div>
                                            <div class="text-xs">
                                                A wonderful serenity has taken possession of my entire soul, like these sweet...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/big_avatar2.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>Lisa Harrow</strong>
                                                <span class="pull-right text-muted text-xs">1 hour ago</span>
                                            </div>
                                            <div class="text-xs">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/avatar4.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>Harry Ignis</strong>
                                                <span class="pull-right text-muted text-xs">30 hour ago</span>
                                            </div>
                                            <div class="text-xs">
                                                Li Europan lingues es membres del sam familie. Lor separat existentie es un myth...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/avatar8.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>Thick Buck</strong>
                                                <span class="pull-right text-muted text-xs">Tuesday</span>
                                            </div>
                                            <div class="text-xs">
                                                Li Europan lingues esamilie. Lor separat existentie es un myth...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/avatar9.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>Sissy Lill</strong>
                                                <span class="pull-right text-muted text-xs">Saturday</span>
                                            </div>
                                            <div class="text-xs">
                                                Membres del sam familie. Lor separat existentie es un myth...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/avatar7.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>John Good</strong>
                                                <span class="pull-right text-muted text-xs">15 min ago</span>
                                            </div>
                                            <div class="text-xs">
                                                A wonderful serenity has taken possession of my entire soul, like these sweet...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="clearfix">
                                        <img src="img/big_avatar2.jpg" class="img-circle pull-left thumb-md m-r-5">
                                        <div class="">
                                            <div class="m-b-3">
                                                <strong>Lisa Harrow</strong>
                                                <span class="pull-right text-muted text-xs">1 hour ago</span>
                                            </div>
                                            <div class="text-xs">
                                                The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column col-100p bg-white">
        <div class="table-display">
            <div class="box-border-b-light p-t-15 p-r-l-15 bg-light" style="padding-bottom:8px;">
                <span class="text-muted">To:</span><span>Jesse Holmes</span>
                <a href class="pull-right">Details</a>
            </div>    
            <div class="table-row ">
                <div class="table-cell">
                    <div class="a-box ">
                        <div class="p-10">
                            <ul class="chat-widget scrollable relative">  
                                <li>
                                    <div class="time">mon 17:54 PM</div>
                                    <div class="msgs">
                                        <div>
                                            <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in </p>
                                        </div>
                                        <div>
                                            <p>musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="from-me">
                                    <div class="time">Wed 18:34 PM</div>
                                    <div class="msgs">
                                        <div>
                                            <p>membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in </p>
                                        </div>
                                        <div>
                                            <p>ar. Li lingues differe solmen in </p>
                                        </div>
                                        <div>
                                            <p>Lor separat existentie es un myth. Por scientie,</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="time">Wed 20:34 PM</div>
                                    <div class="msgs">
                                        <div>
                                            <p>Li Europanlie. L musica, cabular. Li lingues differe solmen in </p>
                                        </div> 
                                    </div>
                                </li>
                                <li>
                                    <div class="time">Wed 20:34 PM</div>
                                    <div class="msgs">
                                        <div>
                                            <img src="img/dummy1.jpg" class="img-responsive b-rad-15">
                                        </div>
                                        <div>
                                            <p>Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="from-me">
                                    <div class="time">Wed 22:34 PM</div>
                                    <div class="msgs clearfix">
                                        <div>
                                            <p>Tentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in </p>
                                        </div>
                                        <div>
                                            <a class="color-white"> <i class="fa fa-file-excel-o"></i> file.ex</a> | 
                                            <a class="color-white"><i class="fa fa-file-code-o"></i>  index.html</a>
                                        </div>
                                    </div>
                                    <div class="text-right m-b-5 text-xs"><strong>Delivered</strong></div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="bg-light box-border-t">


                <div class="input-group">
                    <input type="text" class="form-control no-b-i input-lg" placeholder="Send message">
                    <span class="input-group-btn bg-white">
                        <button class="btn no-bg btn-text" type="button"><i class="fa fa-smile-o"></i></button>
                    </span>
                    <span class="input-group-btn bg-white">
                        <button class="btn no-bg btn-text" type="button"><i class="fa fa-thumbs-o-up"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
