<div style="background:url(img/gallery/cover3.jpg) center center; background-size:cover;padding:170px 0px;z-index:1" class="item relative">
    <div class="wrapper top right">
        <div class="p-10">
            <a><i class="fa fa-facebook-square fa-2x  color-white"></i></a>
            <a><i class="fa fa-twitter-square fa-2x  color-white"></i></a>
            <a><i class="fa fa-google-plus-square fa-2x  color-white"></i></a>
        </div>
    </div>
    <div class="img-overlayer"></div>
    <div class="wrapper bottom left right">
        <div>
            <div class="p-15 clearfix" style="z-index:2">
                <img src="img/avatar7.jpg" class="img-circle thumb-md m-r-5 pull-left">  
                <div class="">
                    <div class="h4 no-m p-t-10 color-white m-b-3">Buck Johns</div>
                    <div class="label label-primary">JS ninja</div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper bottom right">
        <div class="p-15 color-white">127 Friends</div>
    </div>
</div>
<ul class="nav nav-tabs nav-line p-l-15" role="tablist">
    <li class="active"><a>Timeline</a></li>
    <li><a>Friends</a></li>
    <li><a>Likes</a></li>
</ul>

<div class='wrapper relative'>
    <div class="row row-gap-10">
        <div class="col-md-4 col-sm-6">
            <div class="post-widget m-b-15">
                <textarea class="form-control" placeholder="What's on your mind?" data-ng-model="dummyyy"></textarea>
                <div>
                    <button class="btn btn-text no-bg pull-right btn-xs m-t-3" type="button">Send</button>
                    <ul class="nav nav-pills nav-sm">
                        <li><a><i class="fa fa-upload"></i></a></li>
                        <li><a><i class="fa fa-camera"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class='panel'>
                <div class="panel-body no-p panel-fix">
                    <div class="item">
                        <img src="img/gallery/cover2.jpg" class="img-full">
                    </div>
                    <div class='p-30'>
                        <h3 class='no-m m-b-10'>Dummy is dummy</h3>
                        <div class='text-muted'>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                        </div>
                        <div class=' clearfix m-t-10'>
                            <span class='pull-left'>
                                <img src='img/avatar3.jpg' class='img-circle thumb-xxs'>
                                <span class="text-muted"> John Doe</span>
                            </span>
                        </div>
                        <div class='line-separator'></div>
                        <div>
                            <button class="btn btn-icon btn-default btn-xs btn-rounded"><i class="fa fa-facebook"></i></button>
                            <button class="btn btn-icon btn-default btn-xs btn-rounded"><i class="fa fa-twitter"></i></button>

                            <button class="btn btn-icon btn-default btn-xs btn-rounded pull-right"><i class="fa fa-star-o"></i></button>
                        </div>
                    </div>
                </div> 
            </div>

            <div class='panel b-success'>
                <div class="panel-body no-p">
                    <div class="row no-m box-border-b-light">
                        <div class="col-xs-4 col-lg-4 no-p text-center box-border-r-light">
                            <div class="p-20">
                                <div><i class="fa fa-comment-o fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Comments</div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-4 no-p text-center box-border-r-light">
                            <div class="p-20">
                                <div><i class="fa fa-folder-o fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Folders</div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-4 no-p text-center">
                            <div class="p-20">
                                <div><i class="fa fa-laptop fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Machines</div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-m">
                        <div class="col-xs-4 col-lg-4 no-p text-center box-border-r-light">
                            <div class="p-20">
                                <div><i class="fa fa-lightbulb-o fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Ideas</div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-4 no-p text-center box-border-r-light">
                            <div class="p-20">
                                <div><i class="fa fa-heart-o fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Likes</div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-4 no-p text-center">
                            <div class="p-20">
                                <div><i class="fa fa-smile-o fa-2x fa-fw"></i></div>
                                <div class="text-muted m-t-3 text-xs">Experience</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='panel'>
                <div class="panel-heading ">
                    <div class=' clearfix p-10'>
                        <span class='pull-left'>
                            <img src='img/avatar6.jpg' class='img-circle thumb-xs'>
                            Hue Brown
                        </span>
                        <span class="pull-right text-muted">
                            10 min ago
                        </span>
                    </div>
                </div>
                <div class="panel-body no-p">

                    <div class='p-30'>
                        <h3 class='no-m m-b-10'>Sit amet</h3>
                        <div class='text-muted text-italic'>
                            ore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                        </div>
                    </div>
                </div> 
            </div>

        </div>

        <div class="col-md-4 col-sm-6">

            <div class="panel no-border ">
                <div class="panel-heading no-b-i text-center p-30-i">
                    <i class="fa fa-twitter fa-3x"></i>
                </div>
                <div class="panel-body p-10 no-p-t text-center">
                    <div class=" ">
                        "Your time is limited, so don't waste it living someone else's life."#qoute
                    </div>
                    <div class="text-right text-xs text-italic">
                        <span class=""></span>- Steve Travis
                    </div>
                    <div class="clearfix m-t-10">
                        <button class="btn btn-icon btn-default btn-xs btn-rounded pull-right"><i class="fa fa-star-o"></i></button>
                        <button class="btn btn-icon btn-default btn-xs btn-rounded pull-right m-r-5"><i class="fa fa-heart-o"></i></button>
                    </div>
                </div>
            </div>

            <div class="row row-gap-5">
                <div class="col-md-6 col-sm-12">
                    <div class='panel b-danger'>
                        <div class="panel-heading">
                            <i class="fa fa-circle-o " ></i> Stock#2
                            <span class="pull-right text-def">
                                <i class="fa fa-comment-o "></i> 22
                            </span>
                        </div>
                        <div class="panel-body no-p text-center">
                            <div class='p-15'>
                                <div class="m-b-3">Microsoft (MSFT)</div>
                                <div class="text-muted text-xs m-b-10"> - Dec 12, 4:00PM EST</div> 
                                <div>
                                    <span class="h2 no-m">46.95 </span> 
                                    <i class="fa fa-long-arrow-down text-danger"></i>
                                    <span class="h5 no-m text-danger"> 0.22 (0.47%) </span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-md-6 col-sm-12" >
                    <div class='panel b-primary'>
                        <div class="panel-heading">
                            <i class="fa fa-circle-o " ></i> Stock#1
                            <span class="pull-right text-def">
                                <i class="fa fa-comment-o "></i> 5
                            </span>
                        </div>
                        <div class="panel-body no-p text-center">


                            <div class='p-15'>
                                <div class="m-b-3">Apple Inc.</div>
                                <div class="text-muted text-xs m-b-10"> - Dec 12, 4:00PM EST</div> 
                                <div>
                                    <span class="h2 no-m">111.55 </span> 
                                    <i class="fa fa-long-arrow-up text-success"></i>
                                    <span class="h5 no-m text-success"> 0.15 (0.11%) </span>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>


            <div class='panel'>
                <div class="panel-body no-p">
                    <div class='p-30'>
                        <h4 class='no-m m-b-10 text-success'><i class="fa fa-heart-o"></i> Trending</h4>
                        <h3 class='no-m m-b-10'>Lorem ipsum</h3>
                        <div class='text-muted'>
                            quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                        </div>
                        <div class=' clearfix m-t-10'>
                            <span class='pull-left'>
                                <img src='img/avatar4.jpg' class='img-circle thumb-xxs'>
                                Mike Doe
                            </span>
                        </div>
                        <div class='line-separator'></div>
                        <div>
                            <button class="btn btn-icon btn-default btn-xs btn-rounded"><i class="fa fa-facebook"></i></button>
                            <button class="btn btn-icon btn-default btn-xs btn-rounded"><i class="fa fa-twitter"></i></button>

                            <button class="btn btn-icon btn-default btn-xs btn-rounded pull-right"><i class="fa fa-star-o"></i></button>
                        </div>
                    </div>
                </div> 
            </div>

            <div class='panel'>
                <div class="panel-body no-p p-t-b-15">
                    <div class="p-r-l-20">
                        <div class="h4 no-m">
                            <span><i class="fa fa-twitter fa-fw"></i> Twitter</span>
                            <span class="pull-right text-success">22 <i class="fa fa-long-arrow-up"></i></span>
                        </div>
                        <div class="text-muted text-xs m-t-3">Last update: 10min ago</div>
                    </div>
                    <div class="line-separator"></div>
                    <div class="p-r-l-20">
                        <div class="h4 no-m">
                            <span><i class="fa fa-facebook fa-fw"></i> Facebook</span>
                            <span class="pull-right text-success">1 <i class="fa fa-long-arrow-up"></i></span>
                        </div>
                        <div class="text-muted text-xs m-t-3">Last update: 10min ago</div>
                    </div>
                    <div class="line-separator"></div>
                    <div class="p-r-l-20">
                        <div class="h4 no-m">
                            <span><i class="fa fa-google-plus fa-fw"></i> Google+</span>
                            <span class="pull-right text-success">5 <i class="fa fa-long-arrow-up"></i></span>
                        </div>
                        <div class="text-muted text-xs m-t-3">Last update: 10min ago</div>
                    </div>
                </div> 
            </div>

            <div class="row row-gap-5 text-center">
                <div class="col-md-6 col-sm-6">

                    <div class='panel'>
                        <div class="panel-body no-p panel-fix">
                            <div class="item">
                                <img src="img/gallery/card1.jpg" class="img-full">
                            </div>
                            <div class='p-30'>
                                <h3 class='no-m m-b-3'>Thing</h3>
                                <div class="text-muted">Ipsum dolor</div>
                            </div>
                        </div> 
                    </div>


                </div>
                <div class="col-md-6 col-sm-6">

                    <div class='panel'>
                        <div class="panel-body no-p panel-fix">
                            <div class="item">
                                <img src="img/gallery/card2.jpg" class="img-full">
                            </div>
                            <div class='p-30'>
                                <h3 class='no-m m-b-3'>Awesome</h3>
                                <div class="text-muted">Lorem ipsum</div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>


        </div>

        <div class="col-md-4 col-sm-6">


            <div class='panel'>
                <div class="panel-heading ">
                    <div class=' clearfix p-10'>
                        <span class='pull-left'>
                            <img src='img/avatar5.jpg' class='img-circle thumb-xs'>
                            Hue Brown
                        </span>
                        <span class="pull-right text-muted">
                            10 min ago
                        </span>
                    </div>
                </div>
                <div class="panel-body no-p">

                    <div class='p-30'>
                        <h3 class='no-m m-b-10'>Sit amet</h3>
                        <div class='text-muted text-italic'>
                            ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                        </div>
                    </div>
                </div> 
            </div>





            <div class='panel'>
                <div class="panel-body no-p panel-fix">
                    <div class="item">
                        <img src="img/gallery/dummy15.jpg" class="img-full">
                        <div class="wrapper bottom top right left bg-overlayer-dark">
                            <div class="center-container">
                                <div class="centered">
                                    <div class="text-white text-center">
                                        <h5 class="no-m m-b-20">Popular design collections</h5>
                                        <h2 class="no-m m-b-10">PRODUCT DESIGN</h2>
                                        <div class="text-muted m-b-5">How to make nice things</div>
                                        <div>
                                            <button class="btn btn-rounded btn-success">Follow 2.3K+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper bottom left">
                            <div class="p-10">
                                <a href class="color-white">
                                    <i class="fa fa-reply fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="wrapper bottom right">
                            <div class="p-10">
                                <a href class="color-white">
                                    <i class="fa fa-star-o fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class='panel panel-default'>
                <div class="panel-body no-p">
                    <div class='p-30 no-p-b'>
                        <h3 class='no-m m-b-10'>Project idea</h3>
                        <div class='text-muted'>
                            quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
                        </div>
                        <div class=' clearfix m-t-10'>
                            <span class='pull-left'>
                                <img src='img/avatar4.jpg' class='img-circle thumb-xs'>
                                Mike Doe
                            </span>
                        </div>
                        <div class='line-separator'></div>
                        <div class="m-b-10">
                            <input type="text" class="form-control" placeholder="Your msg here..."> 

                        </div>

                    </div>
                    <ul class="simple-list with-image no-m bg-light lt no-b-b text-xs">
                        <li>
                            <a class="text-def">
                                <img src="img/avatar1.jpg" class="img-circle thumb-xxs">
                                <div>
                                    <p class="no-m">
                                        <strong>Jesse Holmes</strong> <span class="pull-right time">Now</span>
                                    </p>
                                    <p class="no-m"> Lorem ipsum dolor sit amet</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="text-def">
                                <img src="img/avatar2.jpg" class="img-circle thumb-xxs">
                                <div>
                                    <p class="no-m">
                                        <strong>Greg Abraham</strong><span class="time">20 mins</span>
                                    </p>
                                    <p class="no-m"> Please send me an email about the task</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="text-def">
                                <img src="img/avatar3.jpg" class="img-circle thumb-xxs">
                                <div>
                                    <p class="no-m">
                                        <strong>Rick Nevada</strong><span class="time">1 hour</span>
                                    </p>
                                    <p class="no-m">Ok, the problem is solved. Thank You!</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="text-def">
                                <img src="img/avatar4.jpg" class="img-circle thumb-xxs">
                                <div>
                                    <p class="no-m">
                                        <strong>Dexter Minas</strong><span class="time">12 hour</span>
                                    </p>
                                    <p class="no-m">Hello, nice to see you yesterday.</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>
