<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div style="background:url(img/dummy1.jpg) center center; background-size:cover">
            <div class="p-t-b-50">
                <div class="container-content-boxed">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="m-r-l-10">
                                <img src="img/big_avatar2.jpg" class="img-circle thumb-md m-r-5 pull-left">
                                <span class="pull-right p-t-10">
                                    <a class="color-white"><i class="fa fa-facebook-square fa-2x"></i></a>
                                    <a class="color-white"><i class="fa fa-twitter-square fa-2x"></i></a>
                                    <a class="color-white"><i class="fa fa-google-plus-square fa-2x"></i></a>
                                </span>
                                <div class="h4 no-m color-white p-t-10">Jessica Johns</div>
                                <div>
                                    <span class="label label-info">Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-content-boxed m-t-n-lg">
            <div class="row">
                <div class="col-md-12">
  
                    <div class="bg-white p-20 m-t-10 b-rad-3 article box-border-b-light">
                        <div class="row m-b-30">
                            <div class="col-sm-6">
                                <div class="h1 no-m font-thin">The Title of the post</div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span>Yesterday</span>
                            </div>
                        </div>
                        <p>       
                            <strong class="h4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. 
                            </strong>
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque?
                        </p>
                        <div class="h3 no-m font-thin">
                            <p > 
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>

                        <div class="row m-b-10">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/dummy2.jpg" class="img-responsive">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/dummy1.jpg" class="img-responsive">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <img src="img/dummy3.jpg" class="img-responsive">
                            </div>
                        </div>
                        <p>

                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque?
                        </p>
                        <div>
                            <blockquote >
                                <i class="fa fa-quote-left"></i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                            </blockquote>
                        </div>
                        <div class="row row-gap-10">
                            <div class="col-sm-6">
                                <p class="p-15 bg-light lt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque?
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="p-15 bg-light lt">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque?
                                </p>
                            </div>
                        </div>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque?
                        </p>
                        <div class="row m-b-10">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img src="img/dummy4.jpg" class="img-responsive">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img src="img/dummy5.jpg" class="img-responsive">
                            </div>
                        </div>
                        <div class="h3 no-m">
                            <p> 
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque?
                        </p>
                    </div>
                    <div class="bg-white p-10 clearfix m-t-5 m-b-5 b-rad-3 box-border-b-light">
                        <span class="pull-left">
                            <a class="text-facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a class="text-twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                            <a class="text-googleplus"><i class="fa fa-google-plus-square fa-2x"></i></a>
                        </span>
                        <div class="pull-right">
                            <a href="" class="label bg-primary">Bootstrap</a> 
                            <a href="" class="label bg-primary">AngularJS</a> 
                            <a href="" class="label bg-primary">NodeJS</a> 
                        </div>
                    </div>
                    <div class="p-10">
                        <div class="m-b-10">4 comments</div>
                        <div class="media">
                            <a class="media-left pull-left" href="#">
                                <img src="img/avatar1.jpg" class="img-circle thumb-xxs">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading no-m"><strong>Jonhy Jonhs</strong> <span class="label label-info">Writer</span></h5>
                                <div class="text-xs text-muted">2hours ago</div>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque antte at, Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <div class="media">
                            <a class="media-left pull-left" href="#">
                                <img src="img/avatar2.jpg" class="img-circle thumb-xxs">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading no-m"><strong>Nuckty Thompaon</strong> <span class="label label-primary">Publisher</span></h5>
                                <div class="text-xs text-muted">5hours ago</div>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque an. Fusce cfringilla. Donec lacinia congue felis in faucibus.
                                <div class="media">
                                    <a class="media-left pull-left" href="#">
                                        <img src="img/avatar1.jpg" class="img-circle thumb-xxs">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading no-m"><strong>Buck Bob</strong> <span class="label label-danger">Admin</span></h5>
                                        <div class="text-xs text-muted">Yesterday</div>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus m in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <a class="media-left pull-left" href="#">
                                <img src="img/avatar4.jpg" class="img-circle thumb-xxs">
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading no-m"><strong>Steve Oson</strong> <span class="label label-default">Buddy</span></h5>
                                <div class="text-xs text-muted">Saturday</div>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelio, vestibulum in vulputate at, tempus viverra turpis.
                            </div>
                        </div>
                        <div class="p-t-b-20 m-t-20 box-border-t-light">
                            <div class="m-b-10 h4 no-m">Leave a comment</div>
                            <form>
                                <div class="form-group row-fix clearfix">
                                    <div class="col-sm-6">
                                        <label>Your name</label>
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Email</label>
                                        <input type="email" class="form-control" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Comment</label>
                                    <textarea class="form-control" rows="5" placeholder="Type your comment"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-line btn-rounded">Submit comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
