<!-- start: App Top DropDown -->
<div class="holder">
    <div class="text-center slideUp">
        <a id="slideUpBtn">
            <i class="fa fa-chevron-up fa-2x"></i>
        </a>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-6">
            <div class="big-icon-app text-center">
                <a ui-sref="app.calendar">
                    <i class="fa fa-clock-o fa-4x"></i>
                    <p>
                        Calendar
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="big-icon-app text-center">
                <a ui-sref="mail.inbox">
                    <i class="fa fa-envelope-o fa-4x"></i>
                    <p>
                        Mail
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="big-icon-app text-center">
                <a ui-sref="app.extra.chat-room">
                    <i class="fa fa-comment-o fa-4x"></i>
                    <p>
                        Messages
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="big-icon-app text-center">
                <a ui-sref="app.extra.project-list">
                    <i class="fa fa-lightbulb-o fa-4x"></i>
                    <p>
                        Projects
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="big-icon-app text-center">
                <a ui-sref="app.extra.people">
                    <i class="fa fa-file-text-o fa-4x"></i>
                    <p>
                        Contracts
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="big-icon-app text-center">
                <a ui-sref="app.tasks.all">
                    <i class="fa fa-tasks fa-4x"></i>
                    <p>
                        Tasks
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end: App Top DropDown -->